<div
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card>    
    <nb-card-body [nbSpinner]="isLoading">
      <div class="font-bold mb-5">
        Thông tin giảm giá
      </div>
      <div  class="flex items-center justify-center">
        <div class="mx-auto w-full">
          <div *ngIf="!isEditable" class="mb-5 error-text-color">
            Mã giảm giá này đã có 1 số khách hàng áp dụng, bạn không thể chỉnh sửa các thông tin cơ bản trừ thiết lập ngày hiệu lực
          </div>
          <form autocomplete="off">
            <div class="mb-5">
              <label for="lName" class="mb-3 block font-medium">
                Ngày tạo: <b>{{ formatDate(choosingDiscount.creationDate) }}</b>
              </label>
            </div>
            <div class="mb-5">
              <label class="mb-3 block font-medium">
                Mã code: <b>{{ choosingDiscount.code }}</b>
              </label>
              <nb-form-field class="min-w-0 mt-2">
                <input
                  type="text"
                  nbInput
                  [disabled]="!isEditable" 
                  (input)="onInputDiscountCode()"
                  name="codeInput"
                  #codeInput="ngModel"
                  [(ngModel)]="editDiscount.code"
                  placeholder="Mã code để áp dụng giảm giá"
                  class="w-full rounded-md"
                />
                <button
                  nz-tooltip
                  nzTooltipTitle="Thêm ngày tháng năm để giảm sự trùng lập"
                  nbSuffix
                  [disabled]="!isEditable" 
                  nbButton
                  ghost
                  (click)="generateDatePattern()"
                >
                  <nb-icon
                    [icon]="'shuffle-2-outline'"
                    pack="eva"
                  >
                  </nb-icon>
                </button>
              </nb-form-field>
              <small *ngIf="!editDiscount.code" class="error-text-color">
                Mã code xin vui lòng không được để trống
              </small>
            </div>
            <div class="mb-5">
              <label for="guest" class="mb-3 block font-medium">
                Ngày hết hiệu lực: <b>{{ formatDate(choosingDiscount.expiredDate) }}</b>
              </label>
              <nz-date-picker [nzDisabledDate]="disabledDate" name="expiredDateInput" #expiredDateInput="ngModel" class="w-full h-[40px]" [(ngModel)]="expiredDate" (ngModelChange)="onChangeExpiredDate($event)"></nz-date-picker>
            </div>
            <div class="mb-5">
              <label for="guest" class="mb-3 block font-medium">
                Giá tối thiểu để áp dụng: <b>{{ formatNumber(choosingDiscount.minimumOrderPrice) }}</b>
              </label>
              <input
                type="number"
                [disabled]="!isEditable" 
                name="minimumOrderPriceInput"
                #minimumOrderPriceInput="ngModel"
                [(ngModel)]="editDiscount.minimumOrderPrice"
                nbInput
                placeholder="50000"
                class="w-full rounded-md"
              />
              <small *ngIf="!(editDiscount.minimumOrderPrice >= 0)" class="error-text-color">
                Giá tối thiểu phải ít nhất bằng 0đ
              </small>
            </div>
            <div class="mb-5">
              <label for="guest" class="mb-3 block font-medium">
                Mức giá sẽ giảm: <b>{{ formatNumber(choosingDiscount.amount) }}</b>
              </label>
              <input
                [disabled]="!isEditable" 
                type="number"
                autocomplete="off"
                name="amountInput"
                #amountInput="ngModel"
                [(ngModel)]="editDiscount.amount"
                nbInput
                placeholder="50000"
                class="w-full rounded-md"
              />
              <small *ngIf="!(editDiscount.amount >= 0 && editDiscount.amount < editDiscount.minimumOrderPrice)" class="error-text-color">
                Mức giá giảm tối thiểu phải ít nhất bằng 0đ và phải nhỏ hơn giá tối thiểu của mã giảm giá
              </small>
            </div>
            <div>
              <button
                nbButton
                status="danger"
                class="mr-3 mb-3"
                
                (click)="onClickCancelEdit()"
              >
                Huỷ
              </button>
              <button nbButton (click)="open(dialog)" status="success" class="mb-3">
                Xác nhận
              </button>
            </div>
          </form>
        </div>
      </div>
      
      <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="nosd">
          <nb-card-body>{{ data }}</nb-card-body>
          <nb-card-footer class="space-x-3">
            <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
            <button nbButton status="success" (click)="onClickSubmit()" [nbSpinner]="submitLoading">Xác nhận</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
    </nb-card-body>
  </nb-card>
</div>
