<div class="mx-auto container px-32 py-1 grid grid-cols-1 gap-x-10 my-10">
  <nz-tabset nzCentered>
    <nz-tab [nzTitle]="template1">
      <ng-template #template1>
        <fa-icon [icon]="icons['faCartShopping']"></fa-icon>
        <span class="ml-3">Giỏ hàng của bạn</span>
      </ng-template>
      <app-shopping-cart></app-shopping-cart>
    </nz-tab>
    <nz-tab [nzTitle]="template2">
      <ng-template #template2>
        <fa-icon [icon]="icons['faCartFlatbed']"></fa-icon>
        <span class="ml-3">Lịch sử mua hàng</span>
      </ng-template>
      <app-history-order></app-history-order>
    </nz-tab>
  </nz-tabset>
</div>