<div class="grid grid-cols-8 w-full">
  <div [routerLink]="'/main/dashboard'" class="cursor-pointer col-span-1">
    <img src="assets/brand-icons/main.png" class="w-16"/>
  </div>
  <div class="col-span-3">
    <ul nz-menu nzMode="horizontal" nzSelectable="false" class="border-b-0 h-full">
      <li class="h-full" nz-submenu [routerLink]="item.link" [nzTitle]="item.label" [nzIcon]="item.icon" *ngFor="let item of items">
        <ul>
          <li (click)="item.label === 'Sản phẩm' ? onClickNavigate(i.link) : null" nz-menu-item *ngFor="let i of item.subItems">
            <fa-icon [icon]="i.icon"></fa-icon>&ensp;{{ i.title }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-span-3">
    <nb-form-field class="h-full w-full">
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input [(ngModel)]="search" name="searchInput" #searchInput="ngModel" type="text" (keyup.enter)="onSubmitSearch()" nbInput>
    </nb-form-field>
  </div>
  <div class="col-span-1 justify-items-end">
    <ul *ngIf="user.name" nzSelectable="false" nz-menu nzMode="horizontal" class="border-b-0 h-full">
      <li class="h-full" nz-submenu [nzTitle]="user.label + ', ' + user.name" [nzIcon]="user.icon">
        <ul>
          <li [routerLink]="i.title === 'THÔNG TIN' ? ['/main/user'] : []" (click)="i.title === 'ĐĂNG XUẤT' ? onClickSignOut() : null" nz-menu-item *ngFor="let i of user.subItems">
            <fa-icon [icon]="i.icon"></fa-icon>&ensp;{{ i.title }}
          </li>
        </ul>
      </li>
    </ul>
    <div *ngIf="!user.name" class="w-full h-full center-an-item cursor-pointer">
      <span class="second-text-color" [routerLink]="'/sign-in'">Đăng nhập</span>&ensp;/&ensp;<span class="second-text-color" [routerLink]="'/sign-up'">Đăng ký</span>
    </div> 
  </div>
</div>
