$main-color: #f4fff9;
$second-color: #dbede3;
$main-text-color: #43da89;
:host ::ng-deep {
 
  .ant-popover{
    width: 100% !important;
  }
  .p-menubar{
    background-color: $main-color
  }
  .p-menuitem-content{
    background-color: transparent !important;
    &:hover {
      color: $main-text-color
    }
  }
  .ant-menu-submenu-title{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .ant-menu-item{
    padding: 0px 10px !important;
  }

  #user-dropdown{
    padding: 0px !important;
  }
}