<div *ngIf="!onEditMode" class="col-span-1 gap-3 grid grid-cols-7">
  <div class="col-span-2 second-main-text-color">
    Mã sản phẩm: 
  </div>
  <div class="col-span-5 font-bold">
    #{{ product.id }}
  </div>
  <div class="col-span-2 second-main-text-color">
    Tên sản phẩm: 
  </div>
  <div class="col-span-5 font-bold">
    {{ product.name }}
  </div>
  <div class="col-span-2 second-main-text-color">
    Mô tả sản phẩm: 
  </div>
  <div class="col-span-5 italic">
    {{ product.description }}
  </div>
  <div class="col-span-2 second-main-text-color">
    Ngày tạo sản phẩm: 
  </div>
  <div class="col-span-5">
    {{ product.creationDate | dateFormat }} ({{ product.creationDate | timeAgoSinceFormat }})
  </div>
  <div class="col-span-2 second-main-text-color">
    Thuộc về danh mục: 
  </div>
  <div class="col-span-5">
    <span class="text-blue-500 cursor-pointer" [routerLink]="'/admin/category-management'">{{ product.category === undefined ? "NaN" : product.category.name }}</span>
  </div>
  <div class="col-span-2 second-main-text-color">
    Trạng thái sản phẩm: 
  </div>
  <div class="col-span-5">
    {{ product.active ? 'Kích hoạt': 'Ẩn'}}
  </div>
</div>

<div *ngIf="onEditMode" class="col-span-1 gap-3 grid grid-cols-7">
  <div class="col-span-2 second-main-text-color">
    Mã sản phẩm: 
  </div>
  <div class="col-span-5 font-bold">
    #{{ editProduct.id }}
  </div>
  <div class="col-span-2 second-main-text-color">
    Tên sản phẩm: 
  </div>
  <div class="col-span-5">
    <input [disabled]="isLoadingSubmitButton" [(ngModel)]="editProduct.name" class="w-full font-bold" nbInput placeholder="Tên sản phẩm"/>
    <small *ngIf="!editProduct.name" class="error-text-color">
      Tên sản phẩm xin vui lòng không để trống
    </small>
  </div>
  <div class="col-span-2 second-main-text-color">
    Mô tả sản phẩm: 
  </div>
  <div class="col-span-5 ">
    <textarea [disabled]="isLoadingSubmitButton" [(ngModel)]="editProduct.description" class="w-full italic" nbInput placeholder="Mô tả sản phẩm"></textarea>
    <small *ngIf="!editProduct.description" class="error-text-color">
      Mô tả sản phẩm xin vui lòng không để trống
    </small>
  </div>
  <div class="col-span-2 second-main-text-color">
    Ngày tạo sản phẩm: 
  </div>
  <div class="col-span-5">
    {{ editProduct.creationDate | dateFormat }} ({{ editProduct.creationDate | timeAgoSinceFormat }})
  </div>
  <div class="col-span-2 second-main-text-color">
    Thuộc về danh mục: 
  </div>
  <div class="col-span-5">
    <nb-select [disabled]="isLoadingSubmitButton" (selectedChange)="onChangeCategory($event)" class="w-full" placeholder="Danh mục sản phẩm" [(selected)]="editProduct.category.id">
      <nb-option *ngFor="let o of categoryOptions" [value]="o.id">{{ o.name }}</nb-option>
    </nb-select>
    <small *ngIf="!editProduct.category.id" class="error-text-color">
      Danh mục sản phẩm xin vui lòng không để trống
    </small>
  </div>
  <div class="col-span-2 second-main-text-color">
    Trạng thái sản phẩm: 
  </div>
  <div class="col-span-5">
    {{ editProduct.active ? 'Kích hoạt': 'Ẩn' }}
  </div>
</div>