<div *ngIf="view === 'ICON'" [class]="classes">
  <nb-card
    [routerLink]="['/main/product', item.id]"
    *ngFor="let item of products; let i = index"
    class="border-none nosd cursor-pointer"
  >
    <nb-card-body class="border-none">
      <app-image
        [classes]="
          'rounded-xl transition-shadow shadow-sm hover:shadow-md no-background rounded-xl'
        "
        [lazyClasses]="'min-h-[300px]'"
        [src]="item.imageUrl"
      ></app-image
    ></nb-card-body>
    <nb-card-footer class="border-none py-0">
      <div class="font-bold text-lg truncate">{{ item.name }}</div>
    </nb-card-footer>
  </nb-card>
</div>

<div *ngIf="view === 'LIST'" [class]="classes">
  <nb-card
    [routerLink]="['/main/product', item.id]"
    *ngFor="let item of products; let i = index"
    class="border-none nosd cursor-pointer"
  >
    <nb-card-body class="border-none grid grid-cols-4 gap-5">
      <div class="lg:col-span-1 col-span-2">
        <app-image
          [classes]="
            'rounded-xl transition-shadow shadow-sm hover:shadow-md no-background rounded-xl'
          "
          [lazyClasses]="'min-h-[300px]'"
          [src]="item.imageUrl"
        ></app-image>
      </div>
      <div class="lg:col-span-3 col-span-2">
        <div class="font-bold text-xl truncate">{{ item.name }}</div>
        <div
          class="second-main-text-color text-md italic line-clamp-2 sm:line-clamp-6"
        >
          {{ item.description }}
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
