<div *ngIf="view === 'ICON'" [class]="classes">
  <nb-card [routerLink]="['/main/product', item.id]" *ngFor="let item of products" class="bordering-none">
    <nb-card-body class="bordering-none"> <app-image [classes]="'rounded-xl cursor-pointer transition-shadow shadow-sm hover:shadow-md no-background rounded-xl'" [lazyClasses]="'min-h-[300px]'" [src]="item.picture"></app-image></nb-card-body>
    <nb-card-footer class="bordering-none py-0">
      <div class="font-bold text-lg truncate">{{item.name}}</div>
      <div class="second-main-text-color text-md">{{ formatPrice(getPrice(item.id)) }} </div>
    </nb-card-footer>
  </nb-card>
</div>

<div *ngIf="view === 'LIST'" [class]="classes">
  <nb-card [routerLink]="['/main/product', item.id]" *ngFor="let item of products" class="bordering-none">
    <nb-card-body class="bordering-none grid grid-cols-4 gap-5">
      <div class="lg:col-span-1 col-span-2">
        <app-image [classes]="'rounded-xl cursor-pointer transition-shadow shadow-sm hover:shadow-md no-background rounded-xl'" [lazyClasses]="'min-h-[300px]'" [src]="item.picture"></app-image>
      </div>
      <div class="lg:col-span-3 col-span-2">
        <div class="font-bold text-xl truncate">{{item.name}}</div>
        <div class="second-main-text-color text-lg mb-5">{{ formatPrice(getPrice(item.id)) }} </div>
        <div class="second-main-text-color text-md italic line-clamp-2 sm:line-clamp-6">{{ item.description }} </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>