<div class="w-full grid grid-cols-4 mb-5 gap-5">
  <div class="col-span-2 sm:col-span-3"></div>
  <div class="col-span-2 sm:col-span-1">
    <nb-select class="w-full" multiple placeholder="Tất cả" selectable="false">
      <nb-option
        ><span class="text-[#3366ff]">Chờ xét duyệt/Chuẩn bị đơn</span></nb-option
      >
      <nb-option
        ><span class="text-[#ffaa00]">Đang vận chuyển</span></nb-option
      >
      <nb-option
        ><span class="text-[#00d68f]">Đã hoàn thành</span></nb-option
      >
      <nb-option
        ><span class="text-[#ff3d71]">Đã huỷ</span></nb-option
      >
    </nb-select>
  </div>
</div>
<nz-collapse
  [nzBordered]="false"
  [nzExpandIconPosition]="'right'"
  *ngFor="let or of order"
  class="mb-6 bg-white"
>
  <nz-collapse-panel [nzHeader]="header">
    <ng-template #header>
      <div class="w-full grid grid-cols-2 gap-3">
        <div class="grid grid-cols-1">
          <div>
            Mã hoá đơn:
            <span class="error-text-color font-semibold">{{ or.id }}</span>
          </div>
          <div>
            <div *ngIf="or.status === 1" class="text-[#3366ff] truncate">
              Đơn hàng đã được đặt và đợi xác nhận thông tin
            </div>
            <div *ngIf="or.status === 2" class="text-[#3366ff] truncate">
              Đơn hàng đã được xác nhận và đợi bàn giao cho đơn vị vận chuyển
            </div>
            <div *ngIf="or.status === 3" class="text-[#ffaa00] truncate">
              Đơn hàng đã được bàn giao và đang trên đường tới chỗ bạn
            </div>
            <div *ngIf="or.status === 4" class="text-[#00d68f] truncate">
              Đơn hàng đã được giao thành công
            </div>
            <div *ngIf="or.status === -1" class="text-[#ff3d71] truncate">
              Đơn hàng đã bị huỷ
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2">
          <div class="center-an-item">
            {{ timeSince(or.orderDate) }}
          </div>
          <div class="center-an-item font-bold">
            {{ formatPrice(or.totalPrice) }}
          </div>
        </div>
      </div>
    </ng-template>
    <div class="my-16 px-10">
      <nb-stepper
        [orientation]="getWidth() <= 767 ? 'vertical' : 'horizontal'"
        [selectedIndex]="getSelectedIndex(or.status)"
        disableStepNavigation="true"
      >
        <nb-step
          [completed]="getSelectedIndex(or.status) >= 0"
          label="Đợi xác nhận thông tin"
        >
        </nb-step>
        <nb-step
          [completed]="getSelectedIndex(or.status) >= 1"
          label="Đợi bàn giao cho đơn vị vận chuyển"
        >
        </nb-step>
        <nb-step
          [completed]="getSelectedIndex(or.status) >= 2"
          label="Đang vận chuyển"
        >
        </nb-step>
        <nb-step
          [completed]="getSelectedIndex(or.status) >= 4"
          *ngIf="getSelectedIndex(or.status) !== 5"
          label="Giao hàng thành công"
        >
        </nb-step>
        <nb-step
          [completed]="getSelectedIndex(or.status) >= 5"
          *ngIf="getSelectedIndex(or.status) === 5"
          label="Giao hàng thất bại"
        >
        </nb-step>
      </nb-stepper>
    </div>
    <div class="grid grid-cols-3 gap-5">
      <div class="order-last md:order-none col-span-3 md:col-span-1">
        <div class="font-bold text-2xl">Thông tin chi tiết</div>
        <nz-divider></nz-divider>
        <div class="mb-1">
          <span class="font-bold">{{ or.account.name }}</span>
        </div>
        <div class="mb-1">
          <span class="second-main-text-color">{{ or.account.phone }}</span>
        </div>
        <div class="mb-1">
          <span class="second-main-text-color">{{ or.account.address }}</span>
        </div>
        <nz-divider></nz-divider>
        <div class="grid grid-cols-1">
          <div class="grid grid-cols-2 mb-1">
            <span class="text-left second-main-text-color"
              >Giá trị hoá đơn</span
            >
            <span class="text-right">{{ formatPrice(or.totalPrice) }}</span>
          </div>
          <div class="grid grid-cols-2 mb-1">
            <span class="text-left second-main-text-color">Giảm giá</span>
            <span class="text-right"> - 0 đ</span>
          </div>
          <div class="grid grid-cols-2 mb-3">
            <span class="text-left second-main-text-color">Thuế VAC</span>
            <span class="text-right"> 0 đ</span>
          </div>
          <div class="grid grid-cols-2 text-lg mb-1">
            <span class="font-bold text-left">Tổng giá</span>
            <span class="font-bold text-right">{{
              formatPrice(or.totalPrice)
            }}</span>
          </div>
        </div>
      </div>
      <div class="col-span-3 md:col-span-2">
        <ng-container *ngFor="let item of getDetailOrder(or)">
          <nb-card class="mb-2">
            <nb-card-body>
              <div class="grid grid-cols-7 gap-5">
                <div class="col-span-3 sm:col-span-1">
                  <app-image
                    [src]="item.product.picture"
                    [classes]="'rounded-lg cursor-pointer'"
                    (click)="navigate(item.product.id)"
                  ></app-image>
                </div>
                <div class="col-span-4 sm:col-span-6 grid grid-cols-4 gap-5">
                  <div class="col-span-4 sm:col-span-2">
                    <div class="w-full h-auto mb-5">
                      <b class="break-words">{{ item.product.name }}</b>
                    </div>
                    <div class="w-full h-auto second-main-text-color">
                      <span>{{ formatPrice(item.product.price) }}</span>
                    </div>
                    <div class="w-full h-auto second-main-text-color">
                      <span>x{{ item.quantity }}</span>
                    </div>
                  </div>
                  <div
                    class="col-span-4 sm:col-span-2 flex justify-center sm:justify-end items-center"
                  >
                    <span class="font-bold">{{
                      formatPrice(item.subTotal)
                    }}</span>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-container>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<nz-result
  *ngIf="order.length === 0"
  [nzIcon]="'smile-twotone'"
  nzTitle="Ối, chưa có đơn hàng nào cả!!"
>
</nz-result>
