<div class="w-full grid grid-cols-10 gap-5">
  <div class="col-span-10 order-last lg:col-span-7 lg:order-none grid grid-cols-1">
    <nb-form-field class="mb-1">
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input type="text" nbInput placeholder="Tìm kiếm sản phẩm trong giỏ" />
    </nb-form-field>
    <div class="grid grid-cols-1">
      <nb-card class="my-3 py-2">
        <nb-card-body class="grid grid-cols-5 gap-5">
          <div class="col-span-1"></div>
          <div class="col-span-4 grid grid-cols-6 gap-5 font-semibold">
            <div class="col-span-2 center-an-item">Sản phẩm</div>
            <div>Đơn giá</div>
            <div class="col-span-2 center-an-item">Số lượng</div>
            <div>Tổng giá</div>
          </div>
        </nb-card-body>
      </nb-card>
      <ng-container *ngFor="let item of detailOrder">
        <nb-card>
          <nb-card-body>
            <div class="grid grid-cols-5 my-6 gap-5">
              <div class="col-span-1">
                <app-image
                  [src]="item.product.picture"
                  [classes]="'rounded-lg'"
                ></app-image>
              </div>
              <div class="col-span-4 grid grid-rows-3 mt-0">
                <div class="row-span-1 grid grid-cols-6 gap-5">
                  <div class="col-span-2">
                    <div class="h-auto w-full">
                      <b class="break-words">{{ item.product.name }}</b>
                    </div>
                  </div>
                  <div>
                    <div class="h-auto w-full">
                      <span>{{ formatPrice(item.product.price) }}</span>
                    </div>
                  </div>
                  <div class="col-span-2">
                    <div class="h-auto w-full flex justify-center">
                      <nb-button-group>
                        <button
                          nbButton
                          (click)="
                            item.quantity > 0
                              ? (item.quantity = item.quantity - 1)
                              : null
                          "
                          class="w-[20px] h-[25px]"
                        >
                          -
                        </button>
                        <input
                          [(ngModel)]="item.quantity"
                          name="quantityInput"
                          #quantityInput="ngModel"
                          nbInput
                          class="w-[50px] h-[25px]"
                        />
                        <button
                          nbButton
                          (click)="item.quantity = item.quantity + 1"
                          class="w-[20px] h-[25px]"
                        >
                          +
                        </button>
                      </nb-button-group>
                    </div>
                  </div>
                  <div>
                    <div class="h-auto w-full">
                      <span class="font-semibold">{{ formatPrice(item.subTotal) }}</span>
                    </div>
                  </div>
                </div>
                <div class="row-span-1">
                  <span class="italic second-main-text-color">{{ item.product.description }}</span>
                </div>
                <div class="row-span-1 flex justify-end">
                  <div class="flex items-end">
                    <button nbButton class="text-base">
                      <fa-icon [icon]="icons['faTrash']" class="mr-2"></fa-icon
                      >Xoá
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </ng-container>
    </div>
  </div>
  <div class="col-span-10 lg:col-span-3">
    <nb-card class="w-full">
      <nb-card-body class="grid grid-cols-1">
        <div class="mb-20">
          <label class="w-full">Nhập mã khuyến mãi</label>
          <nb-button-group class="w-full mt-2" status="danger">
            <input class="w-full" nbInput placeholder="Mã khuyến mãi" />
            <button nbButton>Sử dụng</button>
          </nb-button-group>
        </div>
        <div class="grid grid-cols-2 mb-3">
          <span class="text-left">Giá trị hoá đơn</span>
          <span class="text-right">50.000 đ</span>
        </div>
        <div class="grid grid-cols-2 mb-3">
          <span class="text-left">Giảm giá</span>
          <span class="text-right"> - 10.000 đ</span>
        </div>
        <div class="grid grid-cols-2 mb-3">
          <span class="text-left">Thuế VAC</span>
          <span class="text-right"> - 0 đ</span>
        </div>
        <div class="grid grid-cols-2 text-lg mb-3">
          <span class="font-bold text-left">Tổng giá</span>
          <span class="font-bold text-right">40.000 đ</span>
        </div>
      </nb-card-body>
    </nb-card>
    <div class="grid grid-cols-1 gap-5">
      <button nbButton class="w-full" status="warning" (click)="navigate()">
        <fa-icon [icon]="icons['faArrowRightFromBracket']" class="me-2"></fa-icon>Tiếp tục mua
      </button>
      <button nbButton class="w-full" status="primary" [routerLink]="'/main/order/1'">
        <fa-icon [icon]="icons['faBagShopping']" class="me-2"></fa-icon>Thanh toán
      </button>
    </div>
  </div>
</div>
