<div class="w-full grid grid-cols-3">
  <div class="col-span-2">

  </div>
  <nb-card class="col-span-1">
    <nb-card-body class="grid grid-cols-1">
      <div class="mb-20">
        <label class="w-full">Nhập mã khuyến mãi</label>
        <nb-button-group class="w-full mt-2" status="danger">
          <input class="w-full" nbInput placeholder="Mã khuyến mãi"/>
          <button nbButton>Sử dụng</button>
        </nb-button-group>
      </div>
      <div class="grid grid-cols-2 mb-3">
        <span class="text-left">Giá trị hoá đơn</span>
        <span class="text-right">50.000 đ</span>
      </div>
      <div class="grid grid-cols-2 mb-3">
        <span class="text-left">Giảm giá</span>
        <span class="text-right"> - 10.000 đ</span>
      </div>
      <div class="grid grid-cols-2 mb-3">
        <span class="text-left">Thuế VAC</span>
        <span class="text-right"> - 0 đ</span>
      </div>
      <div class="grid grid-cols-2 text-lg mb-3">
        <span class="font-bold text-left">Tổng giá</span>
        <span class="font-bold text-right">40.000 đ</span>
      </div>
    </nb-card-body>
  </nb-card>
</div>
