<nb-card class="col-span-1 mb-3">
  <nb-card-header class="border-none">
    Top sản phẩm được đánh giá nhiều nhất
  </nb-card-header>
  <nb-card-body class="border-none grid grid-cols-1">
    <div class="grid grid-cols-4 gap-y-6">
      <div class="font-semibold">#</div>
      <div class="font-semibold">Tên sản phẩm</div>
      <div class="font-semibold">Trạng thái</div>
      <div class="font-semibold">Lượt đánh giá</div>
      @for(item of productFeedbackQuantityStatistic; track $index){
      <div>{{ item.productId }}</div>
      @if(isStaff){
        <div
        >
          {{ item.productName }}
        </div>
      } @else {
        <div
          class="coffee-link cursor-pointer"
          [routerLink]="['/main/product/', item.productId]"
        >
          {{ item.productName }}
        </div>
      }
      <div class="cursor-default">
        <nz-tag
          nz-tooltip
          nzTooltipTitle="Sản phẩm này đang trong trạng thái kích hoạt và được hiện thị trên hệ thống COFFEE"
          *ngIf="item.productActive"
          class="center-an-item main-bg-text-color mr-0 py-1 rounded text-white w-[70px]"
        >
          Kích hoạt
        </nz-tag>
        <nz-tag
          nz-tooltip
          nzTooltipTitle="Sản phẩm này đang trong trạng thái ẩn, khách hàng không thể nhìn thấy sản phẩm này"
          *ngIf="!item.productActive"
          class="center-an-item mr-0 py-1 rounded main-text-color w-[70px]"
        >
          <fa-icon
            class="center-an-item"
            [icon]="icons['faEyeSlash']"
          ></fa-icon>
        </nz-tag>
      </div>
      <div>{{ item.productFeedbackQuantity }}</div>
      }
    </div>
  </nb-card-body>
</nb-card>