<div
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card>
    <nb-card-header class="border-none">
      Danh sách sản phẩm
    </nb-card-header>
    <nb-card-body class="border-none">
      <div class="mb-5 grid grid-cols-1 gap-5">
        Lưu ý: Chỉ những sản phẩm có trạng thái "hoạt động" mới có thể xuất hiện trên hệ thống COFFEE
      </div>
      <div class="mb-5 grid grid-cols-2 gap-5">
        <div class="flex justify-start items-center">
          <input nbInput (change)="onSearchInput()" [(ngModel)]="searchInput" placeholder="Tìm kiếm sản phẩm"/>
        </div>
        <div class="flex justify-end items-center">
          <button nbButton status="info" [routerLink]="'/admin/product-management/new'">Thêm</button>
        </div>
      </div>
      <nz-table #table [nzData]="products" [nzLoading]="isLoading" [nzPageSize]="4">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên sản phẩm</th>
            <th
              [nzFilterMultiple]="false"
              [nzFilters]="categoryFilterList"
              [nzFilterFn]="categoryFilter"
            >Danh mục</th>
            <th
              [nzSortFn]="dateSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
            >Ngày tạo</th>
            <th 
              [nzAlign]="'center'"
              [nzSortFn]="activeSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
              [nzFilterMultiple]="false"
              [nzFilters]="[
                {
                  text: 'Kích hoạt', value: true
                },
                {
                  text: 'Ẩn', value: false
                }
              ]"
              [nzFilterFn]="activeFilter"
            >Trạng thái</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.category.name}}</td>
            <td>{{formatDate(data.creationDate)}}</td>
            <td>
              <span class="center-an-item">
                <nz-tag
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận ẩn sản phẩm này?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="confirmChange(data.id, false)"
                  *ngIf="data.active"
                  class="center-an-item cursor-pointer main-bg-text-color mr-0 py-1 rounded text-white w-[30px]"
                >
                  <fa-icon
                    class="center-an-item"
                    [icon]="icons['faEye']"
                  ></fa-icon>
                </nz-tag>
                <nz-tag
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận kích hoạt sản phẩm này?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="confirmChange(data.id, true)"
                  *ngIf="!data.active"
                  class="center-an-item cursor-pointer mr-0 py-1 rounded main-text-color w-[30px]"
                >
                  <fa-icon
                    class="center-an-item"
                    [icon]="icons['faEyeSlash']"
                  ></fa-icon>
                </nz-tag>
              </span>
            </td>
            <td>
              <fa-icon [icon]="icons['faCircleInfo']" [routerLink]="['/admin/product-management', data.id]" class="mx-2 cursor-pointer" nz-tooltip nzTooltipTitle="Thông tin"></fa-icon>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nb-card-body>
  </nb-card>
</div>



<!-- <nz-drawer
  [nzWidth]="'100%'"
  [nzClosable]="false"
  [nzVisible]="detailVisible"
  nzPlacement="right"
  [nzTitle]="title1"
  (nzOnClose)="detailVisible = false"
>
  <ng-container *nzDrawerContent>
    <div class="grid grid-cols-5 gap-5">
      <div class="col-span-5 mb-0">
        <div class="inline-block mr-4">
          <app-image [src]="choosingProduct.picture" [classes]="'h-[40px] rounded'"></app-image>
        </div>
        <div class="inline-block mr-4">
          <span class="font-bold">Mã sản phẩm: {{ choosingProduct.id }}</span><br/>
          <span class="second-main-text-color">Tên sản phẩm: {{ choosingProduct.name }}</span>
        </div>
        <br/>
        <br/>
        <div class="inline-block mr-4">
          <span class="second-main-text-color">Ngày tạo: <b>{{ formatDate(choosingProduct.creation_date) }}</b></span><br/>
          <span class="second-main-text-color">Lượt thích: <b>23</b></span>
        </div>
        <div class="inline-block">
          <span class="second-main-text-color">Đã bán: <b>10</b></span><br/>
          <span class="second-main-text-color">Tổng đánh giá: <b>11</b></span>
        </div>
      </div>
      <div class="col-span-2">
      </div>
      <div class="col-span-3">

      </div>
    </div>
  </ng-container>
</nz-drawer> -->


<!-- <ng-template #title1>
  <div class="grid grid-cols-2">
    <div class="flex justify-start items-center">
      <fa-icon [icon]="icons['faXmark']" (click)="detailVisible = false"></fa-icon>
    </div>
    <div class="font-bold flex justify-end items-center">
      Chi tiết tài khoản
    </div>
  </div>
</ng-template> -->
<!-- 
<nz-drawer
  [nzWidth]="'600px'"
  [nzClosable]="false"
  [nzVisible]="inforVisible"
  nzPlacement="right"
  [nzTitle]="title2"
  (nzOnClose)="inforVisible = false"
>
  <ng-container *nzDrawerContent>
    <div class="grid grid-cols-1 gap-3">
      <div>
        <div class="inline-block mr-3">
          <fa-icon [icon]="icons['faUser']" size="2x"></fa-icon>
        </div>
        <div class="inline-block mr-3">
          <span class="font-bold">Tên: {{ choosingAccount.name }}</span><br/>
          <span class="second-main-text-color">Email: {{ choosingAccount.email }}</span>
        </div> 
      </div>
      <div>
        <nz-divider class="my-2"></nz-divider>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faIdCard']" class="mr-3"></fa-icon><span>#{{ choosingAccount.id }}</span>
        </div>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faPhone']" class="mr-3"></fa-icon><span>{{ choosingAccount.phone }}</span>
        </div>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faLocationDot']" class="mr-3"></fa-icon><span>{{ choosingAccount.address }}</span>
        </div>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faUserTie']" class="mr-3"></fa-icon>
          <span>
            <nz-tag 
              class="main-bg-text-color mr-0 py-1 rounded text-white"
              >
                <span>{{ choosingAccount.role === "1" ? 'Khách hàng' : 'Quản trị viên'}}</span>
            </nz-tag>
          </span>
        </div>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faEye']" class="mr-3"></fa-icon>
          <span>
            <nz-tag 
                *ngIf="choosingAccount.status" class="main-bg-text-color mr-0 py-1 rounded text-white"
              >
                <span>Hoạt động</span>
            </nz-tag>
            <nz-tag 
              *ngIf="!choosingAccount.status" class="mr-0 py-1 rounded main-text-color"
            >
              <span>Ẩn</span>
            </nz-tag>
          </span>
        </div>
      </div>
      <div>
        <div>
          <fa-icon [icon]="icons['faCalendar']" class="mr-3"></fa-icon><span>{{ formatDate(choosingAccount.created_date) }}</span>
        </div>
      </div>
      <div class="justify-end items-center flex">
        <button nbButton status="primary" [routerLink]="['/admin/account-management', choosingAccount.id]">Sửa thông tin tài khoản</button>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<ng-template #title2>
  <div class="grid grid-cols-2">
    <div class="flex justify-start items-center">
      <fa-icon [icon]="icons['faXmark']" (click)="inforVisible = false"></fa-icon>
    </div>
    <div class="font-bold flex justify-end items-center">
      Thông tin tài khoản
    </div>
  </div>
</ng-template> -->