@if (!isLoading){
<div class="mx-auto container grid grid-cols-1 gap-x-10 py-10 lg:px-20 px-3">
  <app-quick-statistic-view
    [quickViewStatistic]="quickViewStatistic"
    [isStaff]="isStaff"
  ></app-quick-statistic-view>
  <div>
    <nz-divider></nz-divider>
  </div>
  <div class="mb-3">
    <nz-segmented
      [nzOptions]="timeOptions"
      [(ngModel)]="time"
      (nzValueChange)="timeChange($event)"
    ></nz-segmented>
  </div>
  <div class="mb-3">
    <nz-segmented
      [nzOptions]="typeOptions"
      [(ngModel)]="type"
      (nzValueChange)="typeChange($event)"
    ></nz-segmented>
  </div>
  <nb-card class="m-0">
    <nb-card-body>
      @if (!isLoadingStatistic){
        <app-admin-chart
          [statistic]="statistic"
          [typeValue]="typeValue"
          [typeOption]="typeOptions[type]"
          [chartType]="chartType"
        ></app-admin-chart>
      } @else {
        <div class="h-[300px] center-an-item">
          <nz-spin nzSimple></nz-spin>
        </div>
      }
    </nb-card-body>
    <nb-card-footer class="grid grid-cols-2">
      <div class="flex justify-start items-center">
        {{ typeOptions[type] }} trong
        {{ timeOptions[time].toLowerCase() }}
      </div>
      <div class="flex justify-end">
        <nb-select
          [selected]="chartType"
          (selectedChange)="choosingTypeChange($event)"
          class="w-[140px]"
        >
          @for (item of chartOptions; track $index) {
            <nb-option [value]="item.value">{{
              item.text
            }}</nb-option>
          }
        </nb-select>
      </div>
    </nb-card-footer>
  </nb-card>
  <div>
    <nz-divider></nz-divider>
  </div>
  <div class="grid grid-cols-1 gap-3">
    <app-product-by-sold-quantity-statistic
      [productSoldQuantityStatistic]="productSoldQuantityStatistic"
      [isStaff]="isStaff"
    ></app-product-by-sold-quantity-statistic>
    <app-product-by-feedback-quantity-statistic
      [productFeedbackQuantityStatistic]="productFeedbackQuantityStatistic"
      [isStaff]="isStaff"
    ></app-product-by-feedback-quantity-statistic>
  </div>
</div>
} @else {
<div class="h-[300px] center-an-item">
  <nz-spin nzSimple></nz-spin>
</div>
}
