<nb-layout>
  <nb-layout-column>
    <div class="container mx-auto">
      <nb-card class="h-[95vh] m-0">
        <nb-card-body>
          <div class="py-[10px]">
            <h1 class="font-bold text-3xl mb-5">Chính sách quyền riêng tư</h1>
            <p>
              Chính sách quyền riêng tư này (Chính sách) giải thích cách thức
              chúng tôi thu thập, sử dụng và chia sẻ thông tin cá nhân của bạn
              khi bạn truy cập và sử dụng trang web COFFEE Shop (Trang web).
            </p>
            <h2>Thông tin chúng tôi thu thập</h2>
            <p>
              Chúng tôi thu thập một số thông tin cá nhân về những người truy
              cập và sử dụng Trang web. Những thông tin phổ biến nhất mà chúng
              tôi thu thập bao gồm:
            </p>
            <ul>
              <li>
                Thông tin đăng nhập và tài khoản, chẳng hạn như tên người dùng,
                địa chỉ email và mật khẩu
              </li>
              <li>
                Thông tin thanh toán, chẳng hạn như thông tin thẻ tín dụng hoặc
                thẻ ghi nợ
              </li>
              <li>
                Thông tin liên hệ, chẳng hạn như địa chỉ, số điện thoại và địa
                chỉ IP
              </li>
              <li>
                Thông tin về hoạt động của bạn trên Trang web, chẳng hạn như
                lịch sử mua hàng, các trang bạn truy cập và các sản phẩm bạn
                quan tâm
              </li>
            </ul>
            <h2>Cách chúng tôi sử dụng thông tin của bạn</h2>
            <p>Chúng tôi sử dụng thông tin của bạn cho các mục đích sau:</p>
            <ul>
              <li>Cung cấp và quản lý Trang web</li>
              <li>Xử lý đơn đặt hàng và giao hàng</li>
              <li>Cung cấp dịch vụ khách hàng</li>
              <li>
                Gửi cho bạn thông tin về sản phẩm và dịch vụ của chúng tôi
              </li>
              <li>Theo dõi và cải thiện hiệu suất của Trang web</li>
              <li>Bảo vệ Trang web và người dùng của chúng tôi</li>
            </ul>
            <h2>Chia sẻ thông tin của bạn</h2>
            <p>
              Chúng tôi có thể chia sẻ thông tin của bạn với các bên thứ ba sau:
            </p>
            <ul>
              <li>
                Các nhà cung cấp dịch vụ của chúng tôi, chẳng hạn như nhà cung
                cấp dịch vụ thanh toán và nhà cung cấp dịch vụ phân tích
              </li>
              <li>
                Các cơ quan chính phủ, nếu chúng tôi được yêu cầu làm như vậy
                theo luật
              </li>
              <li>Các bên thứ ba khác, với sự đồng ý của bạn</li>
            </ul>
            <h2>Bảo vệ thông tin của bạn</h2>
            <p>
              Chúng tôi sử dụng các biện pháp bảo mật thích hợp để bảo vệ thông
              tin của bạn khỏi bị truy cập trái phép, sử dụng hoặc tiết lộ.
            </p>
            <h2>Quyền của bạn</h2>
            <p>
              Bạn có quyền truy cập, sửa đổi hoặc xóa thông tin của mình. Bạn
              cũng có quyền yêu cầu chúng tôi ngừng sử dụng thông tin của mình.
              Để thực hiện các quyền này, vui lòng liên hệ với chúng tôi theo
              địa chỉ coffeeshop.fpoly&#64;gmail.com.
            </p>
            <h2>Thay đổi đối với chính sách này</h2>
            <p>
              Chúng tôi có thể thay đổi Chính sách này theo thời gian. Bất kỳ
              thay đổi nào đối với Chính sách này sẽ được đăng trên Trang web.
            </p>
            <h2>Liên hệ với chúng tôi</h2>
            <p>
              Nếu bạn có bất kỳ câu hỏi nào về Chính sách này, vui lòng liên hệ
              với chúng tôi theo địa chỉ coffeeshop.fpoly&#64;gmail.com.
            </p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
