<div class="grid grid-cols-3 gap-5">
  <div class="col-span-3">
    <h1 *ngIf="account.address" class="font-bold backdrop:italic">Xin vui lòng kiểm tra kỹ mọi thông tin trước khi đến bước kế tiếp</h1>
    <h1 *ngIf="!account.address" class="text-red-400 italic">Hiện tại tài khoản của bạn vẫn chưa có địa chỉ, xin vui lòng thêm trước khi tiếp tục</h1>
  </div>
  <div class="col-span-3 flex justify-end">
    <nz-pagination
      [nzSize]="'small'"
      [nzPageSize]="detailOrderPaginateSize"
      (nzPageIndexChange)="getDetailOrdersByPage($event)"
      [nzPageIndex]="1"
      [nzTotal]="detailOrders.length"
    ></nz-pagination>
  </div>
  <div class="col-span-3 md:col-span-1">
    <nb-card>
      <nb-card-header class="border-none grid grid-cols-1">
        <span class="text-red-400 text-lg">
          <fa-icon [icon]="icons['faLocationDot']"></fa-icon>&ensp;Thông tin người nhận
        </span>
      </nb-card-header>
      <nb-card-body class="border-none grid grid-cols-1">
        <span class="mb-5 font-medium">
          <fa-icon [icon]="icons['faUser']"></fa-icon>&ensp;{{ account.name }}
        </span>
        <span class="mb-5 font-medium">
          <fa-icon [icon]="icons['faPhone']"></fa-icon>&ensp;{{ account.phone }}
        </span>
        <span class="mb-5 font-medium">
          <fa-icon [icon]="icons['faLocationArrow']"></fa-icon>&ensp;{{ account.address ? account.address : "Chưa có" }}
        </span>
      </nb-card-body>
      <nb-card-footer class="border-none">
        <a class="second-text-color" [routerLink]="'/main/user'">
          Thay đổi &ensp;  <fa-icon [icon]="icons['faPencil']"></fa-icon> 
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-span-3 md:col-span-2">
      <nb-card class="mb-2" *ngFor="let item of detailOrderPaginate">
        <nb-card-body>
          <div class="grid grid-cols-7 gap-5">
            <div class="col-span-7 sm:col-span-1">
              <app-image
                [src]="item.productSize.product.imageUrl"
                [classes]="'rounded-lg cursor-pointer'"
                (click)="navigate(item.productSize.product.id)"
              ></app-image>
            </div>
            <div class="col-span-7 sm:col-span-6 grid grid-cols-2 gap-5">
              <div>
                <div class="w-full h-auto mb-5">
                  <b class="break-words">{{ item.productSize.product.name }}</b>
                </div>
                <div class="w-full h-auto second-main-text-color">
                  <span>{{ formatPrice(item.productSize.price) }}</span>
                </div>
                <div class="w-full h-auto second-main-text-color">
                  <span>x{{ item.quantity }}</span>
                </div>
              </div>
              <div class="flex justify-end items-center">
                <span class="font-bold">{{ formatPrice(item.subTotal) }}</span>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
  </div>
</div>