<div
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card>
    <nb-card-header class="border-none">
      Danh sách hồ sơ tài khoản
    </nb-card-header>
    <nb-card-body class="border-none">
      <div class="mb-5 grid grid-cols-1 gap-5">
        Lưu ý: Chỉ những tài khoản có trạng thái "hoạt động" mới có thể sử dụng
        hệ thống web của COFFEE
      </div>
      <div class="mb-5 grid grid-cols-2 gap-5">
        <div class="flex justify-start items-center">
          <input
            nbInput
            placeholder="Tìm kiếm tài khoản"
            [(ngModel)]="searchInput"
            (change)="filterBySearch()"
          />
        </div>
        <div class="flex justify-end items-center">
          <button
            nbButton
            status="info"
            [routerLink]="'/admin/account-management/new'"
          >
            Thêm
          </button>
        </div>
      </div>
      <nz-table
        #table
        [nzPaginationType]="'small'"
        [nzLoading]="isLoading"
        [nzData]="accounts"
        [nzPageSize]="5"
      >
        <thead>
          <tr>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th
              [nzAlign]="'center'"
              [nzSortFn]="activeSortOrdering"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
              [nzFilterMultiple]="false"
              [nzFilters]="[
                { text: 'Hiển thị', value: true },
                { text: 'Ẩn', value: false }
              ]"
              [nzFilterFn]="isActiveFilter"
            >
              Trạng thái
            </th>
            <th
              [nzAlign]="'center'"
              [nzSortFn]="roleSortOrdering"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
              [nzFilterMultiple]="true"
              [nzFilters]="[
                { text: 'Quản trị viên', value: 0 },
                { text: 'Nhân viên', value: 1 },
                { text: 'Khách hàng', value: 2 }
              ]"
              [nzFilterFn]="roleFilter"
            >
              Quyền
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>
            <td>
              <span class="center-an-item">
                <nz-tag
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận ẩn tài khoản này?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="confirmChange(data.phone, false)"
                  *ngIf="data.active"
                  class="center-an-item cursor-pointer main-bg-text-color mr-0 py-1 rounded text-white w-[30px]"
                >
                  <fa-icon
                    class="center-an-item"
                    [icon]="icons['faEye']"
                  ></fa-icon>
                </nz-tag>
                <nz-tag
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận kích hoạt tài khoản này?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="confirmChange(data.phone, true)"
                  *ngIf="!data.active"
                  class="center-an-item cursor-pointer mr-0 py-1 rounded main-text-color w-[30px]"
                >
                  <fa-icon
                    class="center-an-item"
                    [icon]="icons['faEyeSlash']"
                  ></fa-icon>
                </nz-tag>
              </span>
            </td>
            <td>
              {{
                data.role === 0
                  ? "Quản trị viên"
                  : data.role === 1
                  ? "Nhân viên"
                  : "Khách hàng"
              }}
            </td>
            <td>
              <fa-icon
                [icon]="icons['faCircleInfo']"
                (click)="inforVisible = true; viewAnAccount(data)"
                class="mx-2 cursor-pointer"
                nz-tooltip
                nzTooltipTitle="Thông tin"
              ></fa-icon>
              <fa-icon
                [icon]="icons['faChartSimple']"
                (click)="detailVisible = true; viewAnAccount(data)"
                class="mx-2 cursor-pointer"
                nz-tooltip
                nzTooltipTitle="Chi tiết"
              ></fa-icon>
              <fa-icon
                *ngIf="[0, 1].includes(data.role)"
                [icon]="icons['faClockRotateLeft']"
                (click)="detailAdminVisible = true; viewAnAccount(data)"
                class="mx-2 cursor-pointer"
                nz-tooltip
                nzTooltipTitle="Lịch sử duyệt đơn"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nb-card-body>
  </nb-card>
</div>

<nz-drawer
  [nzWidth]="'100%'"
  [nzClosable]="false"
  [nzVisible]="detailVisible"
  nzPlacement="right"
  [nzTitle]="title1"
  (nzOnClose)="detailVisible = false"
>
  <ng-container *nzDrawerContent>
    <div class="grid grid-cols-5 gap-5">
      <div class="col-span-5 mb-0">
        <div class="h-full float-left mr-3">
          <div class="h-full center-an-item">
            <fa-icon [icon]="icons['faUser']" size="3x"></fa-icon>
          </div>
        </div>
        <div class="inline-block mr-3">
          <span class="font-bold">Tên: {{ choosingAccount.name }}</span
          ><br />
          <span class="second-main-text-color"
            >Email: {{ choosingAccount.email }}</span
          >
        </div>
        <div class="inline-block">
          <span class="second-main-text-color"
            >Số lượng đơn hàng: <b>{{ accountOrderings.length }}</b></span
          ><br />
          <span class="second-main-text-color"
            >Số lượng đánh giá: <b>{{ accountFeedbacks.length }}</b></span
          >
        </div>
      </div>
      <div class="col-span-2">
        <nb-card class="mb-0">
          <nb-card-header class="border-none">
            Danh sách đơn hàng
          </nb-card-header>
          <nb-card-body class="border-none">
            <nz-table #table2 [nzData]="accountOrderings" [nzLoading]="isLoadingChoosingOrdering" nzShowPagination="false">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ngày đặt</th>
                  <th>Tổng giá</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of table2.data">
                  <td>
                    {{ data.id }}
                  </td>
                  <td>{{ formatDate(data.date) }}</td>
                  <td>{{ formatPrice(data.totalPrice) }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-span-3">
        <nb-card class="mb-0">
          <nb-card-header class="border-none">
            Danh sách phản hồi sản phẩm
          </nb-card-header>
          <nb-card-body class="border-none">
            <nz-table
              #table3
              [nzData]="accountFeedbacks"
              nzShowPagination="false"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên sản phẩm</th>
                  <th>Số sao</th>
                  <th>Ngày tạo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of table3.data">
                  <td>{{ data.product.name }}</td>
                  <td>
                    <ng-container
                      *ngFor="
                        let icon of [].constructor(data.star);
                        let i = index
                      "
                    >
                      <fa-icon
                        [icon]="icons['faStar']"
                        [style]="'color: ' + renderStarColor(data.star)"
                        size="lg"
                      ></fa-icon>
                    </ng-container>
                  </td>
                  <td>{{ formatDate(data.creationDate) }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<nz-drawer
  [nzWidth]="'100%'"
  [nzClosable]="false"
  [nzVisible]="detailAdminVisible"
  nzPlacement="right"
  [nzTitle]="title1"
  (nzOnClose)="detailAdminVisible = false"
>
  <ng-container *nzDrawerContent>
    <div class="grid grid-cols-1 gap-5">
      <div class="mb-0">
        <div class="h-full float-left mr-3">
          <div class="h-full center-an-item">
            <fa-icon [icon]="icons['faUser']" size="3x"></fa-icon>
          </div>
        </div>
        <div class="mr-3">
          <span class="font-bold">Tên: {{ choosingAccount.name }}</span
          ><br />
          <span class="font-bold">Email: {{ choosingAccount.email }}</span
          ><br />
          <span class="second-main-text-color"
            >Số lượng đơn hàng đã duyệt: <b>{{ accountOrderings.length }}</b></span
          >
        </div>
      </div>
      <div>
        <nb-card class="mb-0">
          <nb-card-header class="border-none">
            Danh sách đơn hàng
          </nb-card-header>
          <nb-card-body class="border-none">
            <div class="mb-5 grid grid-cols-2 gap-5">
              <div class="flex justify-start items-center">
                <input
                  nbInput
                  placeholder="Tìm kiếm"
                  [(ngModel)]="searchInputDetailAdminVisible"
                  (change)="filterByDetailAdminVisibleInputSearch()"
                />
              </div>
              <div class="flex justify-end items-center">
              </div>
            </div>
            <nz-table #table4 [nzData]="accountOrderings" [nzLoading]="isLoadingChoosingOrdering" nzShowPagination="false">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ngày đặt</th>
                  <th>Tổng giá</th>
                  <th>Trạng thái</th>
                  <th>Nội dung xác nhận đơn</th>
                  <th>Nội dung hủy đơn</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of table4.data">
                  <td>
                    {{ data.id }}
                  </td>
                  <td>{{ formatDate(data.date) }}</td>
                  <td>{{ formatPrice(data.totalPrice) }}</td>
                  <td>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Khách hàng vẫn chưa đặt hàng"
                      *ngIf="data.status === 0"
                      class="center-an-item bg-[#F5F5F5] mr-0 py-1 rounded text-[#293147] w-[70px]"
                    >
                      Chưa đặt
                    </nz-tag>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Khách hàng đã đặt hàng, đợi xét duyệt từ nhân viên hoặc admin"
                      *ngIf="data.status === 1"
                      class="center-an-item bg-[#557cef] mr-0 py-1 rounded text-white w-[70px]"
                    >
                      Đợi duyệt
                    </nz-tag>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Đơn hàng đã được duyệt, đang chuẩn bị hàng"
                      *ngIf="data.status === 2"
                      class="cursor-pointer center-an-item bg-[#3d5cb9] mr-0 py-1 rounded text-white w-[70px]"
                    >
                      Chuẩn bị
                    </nz-tag>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Đơn hàng đã được bàn giao cho shipper và đang trên đường giao"
                      *ngIf="data.status === 3"
                      class="cursor-pointer center-an-item bg-[#273b75] mr-0 py-1 rounded text-white w-[70px]"
                    >
                      Đang giao
                    </nz-tag>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Đơn hàng đã được giao thành công"
                      *ngIf="data.status === 4"
                      class="center-an-item bg-green-400 mr-0 py-1 rounded text-white w-[70px]"
                    >
                      Đã giao
                    </nz-tag>
                    <nz-tag
                      nz-tooltip
                      nzTooltipTitle="Đơn hàng đã bị huỷ (Người đặt từ chối nhận hàng, bùng đơn, giao thất bại,...)"
                      *ngIf="data.status === -1"
                      class="center-an-item bg-red-400 mr-0 py-1 rounded text-white w-[70px]"
                    >
                      Đã huỷ
                    </nz-tag>
                  </td>
                  <td>
                    <span *ngIf="data.approveDescription" nz-tooltip [nzTooltipTitle]="data.approveDescription" class="truncate">
                      {{ data.approveDescription }}
                    </span>                    
                    <span *ngIf="!data.approveDescription" class="error-text-color">
                      Không có
                    </span>
                  </td>
                  <td>
                    <span *ngIf="data.cancelDescription" nz-tooltip [nzTooltipTitle]="data.cancelDescription"  class="truncate">
                      {{ data.cancelDescription }}
                    </span>                    
                    <span *ngIf="!data.cancelDescription" class="error-text-color">
                      Không có
                    </span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </ng-container>
</nz-drawer>


<nz-drawer
  [nzWidth]="'600px'"
  [nzClosable]="false"
  [nzVisible]="inforVisible"
  nzPlacement="right"
  [nzTitle]="title2"
  (nzOnClose)="inforVisible = false"
>
  <ng-container *nzDrawerContent>
    <div class="grid grid-cols-1 gap-3">
      <div>
        <div class="h-full float-left mr-3">
          <div class="h-full center-an-item">
            <fa-icon [icon]="icons['faUser']" size="3x"></fa-icon>
          </div>
        </div>
        <div class="inline-block mr-3">
          <span class="font-bold">Tên: {{ choosingAccount.name }}</span
          ><br />
          <span class="second-main-text-color"
            >Email: {{ choosingAccount.email }}</span
          >
        </div>
      </div>
      <div>
        <nz-divider class="my-2"></nz-divider>
      </div>
      <div class="grid grid-cols-4 gap-5 mb-5">
        <div class="col-span-2"><fa-icon [icon]="icons['faPhone']" class="mr-2"></fa-icon>Số điện thoại:</div>
        <div class="col-span-2">{{ choosingAccount.phone }}</div>
        <div class="col-span-2"><fa-icon [icon]="icons['faLocationDot']" class="mr-2"></fa-icon>Địa chỉ:</div>
        <div class="col-span-2">{{
          choosingAccount.address ? choosingAccount.address : "Chưa có"
        }}</div>
        <div class="col-span-2"><fa-icon [icon]="icons['faUserTie']" class="mr-2"></fa-icon>Quyền hạn:</div>
        <div class="col-span-2">{{
          choosingAccount.role === 2 ? "Khách hàng" : choosingAccount.role === 1 ? "Nhân Viên" : "Quản trị viên"
        }}</div>
        <div class="col-span-2"><fa-icon [icon]="icons['faClock']" class="mr-2"></fa-icon>Trạng thái hiện tại:</div>
        <div class="col-span-2"><span>
          <nz-tag
            *ngIf="choosingAccount.active"
            class="main-bg-text-color mr-0 py-1 rounded text-white"
          >
            <span>Hoạt động</span>
          </nz-tag>
          <nz-tag
            *ngIf="!choosingAccount.active"
            class="mr-0 py-1 rounded main-text-color"
          >
            <span>Ẩn</span>
          </nz-tag>
        </span></div>
      </div>
      <div class="justify-end items-center flex">
        <button
          nbButton
          status="primary"
          [routerLink]="['/admin/account-management', choosingAccount.phone]"
        >
          Chỉnh sửa
        </button>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<ng-template #title1>
  <div class="grid grid-cols-2">
    <div class="flex justify-start items-center">
      <fa-icon
        [icon]="icons['faXmark']"
        (click)="detailVisible = false"
      ></fa-icon>
    </div>
    <div class="font-bold flex justify-end items-center">
      Chi tiết tài khoản
    </div>
  </div>
</ng-template>

<ng-template #title3>
  <div class="grid grid-cols-2">
    <div class="flex justify-start items-center">
      <fa-icon
        [icon]="icons['faXmark']"
        (click)="detailAdminVisible = false"
      ></fa-icon>
    </div>
    <div class="font-bold flex justify-end items-center">
      Lịch sử duyệt đơn
    </div>
  </div>
</ng-template>

<ng-template #title2>
  <div class="grid grid-cols-2">
    <div class="flex justify-start items-center">
      <fa-icon
        [icon]="icons['faXmark']"
        (click)="inforVisible = false"
      ></fa-icon>
    </div>
    <div class="font-bold flex justify-end items-center">
      Thông tin tài khoản
    </div>
  </div>
</ng-template>
