<div
  id="order-management-control"
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card class="min-h-[400px]">
    <nb-card-body>
      <div *ngIf="isLoading" class="h-full center-an-item">
        <nz-spin nzSimple></nz-spin>
      </div>
      <ng-container *ngIf="!isLoading">
        <div class="col-span-1">
          <div
            *ngIf="checkIfNeedToApprove()" 
            class="mb-5 text-red-400">
            Lưu ý: Đơn hàng được thanh toán bằng phương thức COD và 
            có giá trị hoá đơn trên 150.000VNĐ hoặc trên 5 sản phẩm. Admin 
            và nhân viên cần gọi điện xác nhận khách hàng trước khi duyệt đơn.
          </div>
          <div
            *ngIf="checkIfDontNeedToApprove()" 
            class="mb-5 text-[#3366ff]">
            Lưu ý: Đơn hàng đã được thanh toán bằng phương thức "TRẢ TRƯỚC". Admin 
            và nhân viên không cần gọi điện xác nhận khách hàng.
          </div>
          <div
            *ngIf="
              ordering.status === 2
            " 
            class="mb-5 text-[#3366ff]">
            Hãy chuẩn bị đơn hàng càng nhanh càng tốt...nhân viên và admin đang công tác vui lòng đảm bảo đội ngũ vận chuyển sẵn sàng tới khi khâu chuẩn bị hoàn thành
          </div>
          <div
            *ngIf="
              ordering.status === 3
            " 
            class="mb-5 text-[#3366ff]">
            Đơn hàng đã và đang trên đường giao tới khách hàng, vui lòng nhấn "hoàn thành đơn hàng" nếu đơn hàng được giao thành công, hoặc "đơn hàng thất bại" nếu đơn hàng không được giao tới người đặt
          </div>
          <div class="font-bold mb-5">Thông tin đơn hàng</div>
          <div class="grid grid-cols-5 gap-3">
            <div class="col-span-2">
              <fa-icon [icon]="icons['faTags']" class="mr-3"></fa-icon
              ><span class="bold">Mã hoá đơn:</span>
            </div>
            <div class="col-span-3">
              <span class="error-text-color font-semibold"
                >#{{ ordering.id }}</span
              >
            </div>
            <div class="col-span-2">
              <fa-icon [icon]="icons['faBagShopping']" class="mr-3"></fa-icon
              ><span>Trạng thái:</span>
            </div>
            <div class="col-span-3">
              <div
                *ngIf="ordering.status === 1"
                class="text-[#3366ff] truncate"
              >
                Đơn hàng đã được đặt và đợi xác nhận thông tin
              </div>
              <div
                *ngIf="ordering.status === 2"
                class="text-[#3366ff] truncate"
              >
                Đơn hàng đã được xác nhận và đợi bàn giao cho đơn vị vận chuyển
              </div>
              <div
                *ngIf="ordering.status === 3"
                class="text-[#3366ff] truncate"
              >
                Đơn hàng đã được bàn giao và đang trên đường tới chỗ bạn
              </div>
              <div
                *ngIf="ordering.status === 4"
                class="text-green-400 truncate"
              >
                Đơn hàng đã được giao thành công
              </div>
              <div
                *ngIf="ordering.status === -1"
                class="text-red-400 truncate"
              >
                Đơn hàng đã bị huỷ
              </div>
            </div>
            <div class="col-span-2">
              <fa-icon [icon]="icons['faCalendar']" class="mr-3"></fa-icon
              ><span>Ngày tạo:</span>
            </div>
            <div class="col-span-3">
              <span
                >{{ ordering.date | dateFormat }} -
                {{ ordering.date | timeAgoSinceFormat}}</span
              >
            </div>
            <div class="col-span-2">
              <fa-icon [icon]="icons['faCreditCard']" class="mr-3"></fa-icon
              ><span>Trạng thái thanh toán:</span>
            </div>
            <div class="col-span-3">
              <span>{{ getPaymentStatus(ordering.paymentStatus) }}</span>
            </div>
            <div class="col-span-2">
              <fa-icon [icon]="icons['faNoteSticky']" class="mr-3"></fa-icon
              ><span>Ghi chú:</span>
            </div>
            <div class="col-span-3">
              <span>{{ ordering.note }}</span>
            </div>
            <div *ngIf="ordering.approveDescription" class="col-span-2">
              <fa-icon [icon]="icons['faClockRotateLeft']" class="mr-3"></fa-icon
              ><span>Nội dung duyệt đơn:</span>
            </div>
            <div *ngIf="ordering.approveDescription" class="col-span-3">
              <span>{{ ordering.approveDescription }}</span>
            </div>
            <div *ngIf="ordering.cancelDescription" class="col-span-2">
              <fa-icon [icon]="icons['faBan']" class="mr-3"></fa-icon
              ><span>Nội dung huỷ đơn:</span>
            </div>
            <div *ngIf="ordering.cancelDescription" class="col-span-3">
              <span>{{ ordering.cancelDescription }}</span>
            </div>
            <div *ngIf="ordering.updatedByAccount.phone" class="col-span-2">
              <fa-icon [icon]="icons['faUserTie']" class="mr-3"></fa-icon
              ><span>Người duyệt:</span>
            </div>
            <div *ngIf="ordering.updatedByAccount.phone" class="col-span-3">
              <span>{{ ordering.updatedByAccount.phone }}({{ ordering.updatedByAccount.name }})</span>
            </div>
          </div>
          <div class="my-16 px-10">
            <nb-stepper
              [orientation]="getWidth() <= 767 ? 'vertical' : 'horizontal'"
              [selectedIndex]="getSelectedIndex(ordering.status)"
              disableStepNavigation="true"
            >
              <nb-step
                [completed]="ordering.status === -1 || ordering.status > 0"
                label="Đợi xác nhận thông tin"
              >
              </nb-step>
              <nb-step
                [completed]="ordering.status === -1  || ordering.status > 1"
                label="Đợi bàn giao cho đơn vị vận chuyển"
              >
              </nb-step>
              <nb-step
                [completed]="ordering.status === -1  || ordering.status > 2"
                label="Đang vận chuyển"
              >
              </nb-step>
              <nb-step
                [completed]="ordering.status > 3"
                *ngIf="ordering.status !== -1"
                label="Giao hàng thành công"
              >
              </nb-step>
              <nb-step
                [completed]="ordering.status === -1"
                *ngIf="ordering.status === -1"
                label="Giao hàng thất bại"
              >
              </nb-step>
            </nb-stepper>
          </div>
          <div class="grid grid-cols-4 gap-5">
            <nb-card class="col-span-2">
              <nb-card-body>
                <div class="grid grid-cols-4 gap-3">
                  <div class="font-bold col-span-4 mb-7">
                    Thông tin khách hàng
                  </div>
                  <div class="col-span-2">
                    <fa-icon [icon]="icons['faUser']" class="mr-3"></fa-icon
                    ><span>Họ tên:</span>
                  </div>
                  <div class="col-span-2">
                    <span class="font-bold">{{ ordering.account.name }}</span>
                  </div>
                  <div class="col-span-2">
                    <fa-icon [icon]="icons['faPhone']" class="mr-3"></fa-icon
                    ><span>Số điện thoại:</span>
                  </div>
                  <div class="col-span-2">
                    <span class="second-main-text-color">{{
                      ordering.account.phone
                    }}</span>
                  </div>
                  <div class="col-span-2">
                    <fa-icon
                      [icon]="icons['faLocationDot']"
                      class="mr-3"
                    ></fa-icon
                    ><span>Địa chỉ:</span>
                  </div>
                  <div class="col-span-2">
                    <span class="second-main-text-color">{{
                      ordering.account.address
                    }}</span>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card
              class="ordering-last md:ordering-none col-span-2 md:col-span-2"
            >
              <nb-card-body>
                <div class="grid grid-cols-1">
                  <div class="font-bold mb-7">Thông tin thanh toán</div>
                  <div class="grid grid-cols-2 mb-3">
                    <span class="text-left">Giá trị hoá đơn:</span>
                    <span class="text-right">{{
                      ordering.price | priceFormat
                    }}</span>
                  </div>
                  <div class="grid grid-cols-2 mb-3">
                    <span class="text-left">Tiền ship:</span>
                    <span class="text-right">{{
                      ordering.shippingFee | priceFormat
                    }}</span>
                  </div>
                  <div class="grid grid-cols-2 mb-3">
                    <span class="text-left">Mã giảm giá:</span>
                    <span
                      *ngIf="ordering.discount.code"
                      class="text-right cursor-pointer text-blue-500 hover:text-blue-300"
                      >{{ ordering.discount.code }}</span
                    >
                    <span
                      *ngIf="!ordering.discount.code"
                      class="text-right"
                    >
                      Không có
                    </span>
                  </div>
                  <div class="grid grid-cols-2 mb-3">
                    <span class="text-left">Giảm giá:</span>
                    <span class="text-right">
                      -
                      {{
                        
                        (ordering.discount ? ordering.discount.amount : 0)
                        | priceFormat
                      }}</span
                    >
                  </div>
                  <div class="grid grid-cols-2 mb-3">
                    <span class="text-left">Thuế VAC:</span>
                    <span class="text-right">{{ 0 | priceFormat }}</span>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer
                class="grid grid-cols-2 border-none font-medium bg-[#33425a] text-lg text-white"
              >
                <span class="text-left">Tổng giá:</span>
                <span class="text-right">{{
                  ordering.totalPrice | priceFormat
                }}</span>
              </nb-card-footer>
            </nb-card>
            <div class="col-span-4">
              <span class="font-bold mb-7">Thông tin đơn hàng chi tiết</span>
            </div>
            <div class="col-span-4">
              <ng-container *ngFor="let item of detailOrderPaginates">
                <nb-card class="mb-2">
                  <nb-card-body>
                    <div class="grid grid-cols-7 gap-5">
                      <div class="col-span-3 sm:col-span-1">
                        <app-image
                          [src]="item.productSize.product.imageUrl"
                          [classes]="'rounded-lg cursor-pointer'"
                          (click)="navigate(item.productSize.product.id)"
                        ></app-image>
                      </div>
                      <div
                        class="col-span-4 sm:col-span-6 grid grid-cols-4 gap-5"
                      >
                        <div class="col-span-4 sm:col-span-2">
                          <div class="w-full h-auto mb-5">
                            <b class="break-words">{{
                              item.productSize.product.name
                            }} - Size {{
                              item.productSize.size.toUpperCase()
                            }}</b>
                          </div>
                          <div class="w-full h-auto second-main-text-color">
                            <span>{{
                              item.productSize.price | priceFormat
                            }}</span>
                          </div>
                          <div class="w-full h-auto second-main-text-color">
                            <span>x{{ item.quantity }}</span>
                          </div>
                        </div>
                        <div
                          class="col-span-4 sm:col-span-2 flex justify-center sm:justify-end items-center"
                        >
                          <span class="font-bold">{{
                            item.subTotal | priceFormat
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </ng-container>
              <ng-container *ngIf="detailOrders.length === 0">
                <nz-result
                  [nzIcon]="'smile-twotone'"
                  nzTitle="Ối, vẫn chưa có sản phẩm nào cả!!"
                >
                </nz-result>
              </ng-container>
            </div>
            <nz-pagination [nzSize]="'small'" [nzPageSize]="detailOrderPaginateSize" (nzPageIndexChange)="getDetailOrdersByPage($event)" [nzPageIndex]="1" [nzTotal]="detailOrders.length"></nz-pagination>
            <div class="col-span-4 grid grid-col-1">
              <div class="flex justify-end items-center">
                <button *ngIf="ordering.status === 1" nbButton status="primary" (click)="openToApprove(checkIfNeedToApprove() ? dialogToApproveWithConfirm : dialogToApprove)">Duyệt đơn hàng</button>
                <button *ngIf="ordering.status === 2" nbButton status="primary" (click)="openToApprove(dialogToTransfer)">Tiếp tục</button>
                <button *ngIf="ordering.status === 3" nbButton status="success" (click)="openToApprove(dialogToComplete)">Xác nhận giao hàng thành công</button>
                <button *ngIf="[1, 2].includes(ordering.status)" nbButton status="danger" class="ml-5" (click)="openToApprove(dialogToCancel)">Huỷ đơn</button>
                <button *ngIf="ordering.status === 3" nbButton status="warning" class="ml-5" (click)="openToFail(dialogToFailTransfer)">Xác nhận giao hàng thất bại</button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #dialogToComplete let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>Xác nhận đơn hàng giao thành công?</nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button nbButton status="success" [nbSpinner]="isLoadingButton" (click)="onConfirmToApprove()">
                Xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogToFailTransfer let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>
              <div>Xác nhận đơn hàng giao thất bại? Hãy xem xét thật kỹ và điền lý do trước khi tiếp tục<br/>Lưu ý: Chúng tôi sẽ đặt lý do vào ghi chú của đơn hàng!!</div>
              <br/>
              <input nbInput [(ngModel)]="failReason" type="text" class="w-full" placeholder="Lý do đơn hàng thất bại!!"/>
            </nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button nbButton status="success" [nbSpinner]="isLoadingButton" (click)="onConfirmToFail()">
                Xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogToTransfer let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>Xác nhận chuyển tiếp đơn hàng? Hãy chuẩn bị hàng thật kỹ trước khi tiếp tục <br/>Lưu ý: không thể huỷ đơn hàng sau bước này!!</nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button nbButton status="success" [nbSpinner]="isLoadingButton" (click)="onConfirmToApprove()">
                Xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogToApprove let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>Xác nhận duyệt đơn hàng? Hãy kiểm tra thông tin thật kỹ vì không thể quay lại trạng thái ban đầu</nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button nbButton status="success" [nbSpinner]="isLoadingButton" (click)="onConfirmToApprove()">
                Xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogToApproveWithConfirm let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>
              <div>Bạn cần gọi điện xác nhận trước khi duyệt đơn hàng? Hãy kiểm tra thông tin thật kỹ vì không thể quay lại trạng thái ban đầu</div>
              <br/>
              <input nbInput [(ngModel)]="approveDescription" type="text" class="w-full" placeholder="Ex: Nhân viên A dùng 0123456789 đã gọi xác nhận"/>
            </nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button [disabled]="approveDescription.length === 0" nbButton status="success" [nbSpinner]="isLoadingButton" (click)="onConfirmToApprove()">
                Xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogToCancel let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>Bạn cần gọi điện xác nhận với khách hàng trước khi huỷ.</nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button nbButton status="success" (click)="openConfirmToCancel(dialogConfirmCancel)">
                Tôi đã gọi điện xác nhận
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <ng-template #dialogConfirmCancel let-data let-ref="dialogRef">
          <nb-card class="nosd">
            <nb-card-body>
              <div>Xin hãy điền lý do huỷ đơn hàng bạn vừa gọi xác nhận?</div>
              <br/>
              <input nbInput [(ngModel)]="cancelDescription" type="text" class="w-full" placeholder="Ex: Khách hàng muốn đổi món"/>
            </nb-card-body>
            <nb-card-footer class="space-x-3">
              <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
              <button [nbSpinner]="isLoadingButton" [disabled]="disabledCoolDownCancelOrder !== 0 && cancelDescription.length === 0" nbButton status="success" (click)="onConfirmToCancel()">
                {{
                  disabledCoolDownCancelOrder !== 0 ? 
                    'Có thể huỷ đơn hàng sau ' + disabledCoolDownCancelOrder + " giây"
                    :
                    'Xác nhận huỷ đơn hàng'
                }} 
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>
      </ng-container>
    </nb-card-body>
  </nb-card>
</div>
