:host ::ng-deep {
  nb-accordion-item-header[name="orderingList"]{
    display: grid !important;
  }
  .ant-collapse-content-box {
    padding-bottom: 25px;
  }

  .ant-collapse-content-box, .ant-collapse-content, nz-collapse-panel, nz-collapse{
    border-radius: 0.5rem !important;
  }
  
  .connector-past{
    background-color: #33425a !important;
  }
  .selected>.label-index{
    border-color: #33425a !important;
    color: #33425a !important;
  }
  .completed>.label-index{
    border-color: #33425a !important;
    background-color: #33425a !important;
    color: #ffffff !important;
  }
  .label-index{
    height: 40px !important;
    width: 40px !important;
  }
}