<div
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card>
    <nb-card-header class="border-none">
      Danh sách đơn hàng
    </nb-card-header>
    <nb-card-body class="border-none">
      <div class="mb-5 grid grid-cols-1 gap-5">
        Các nhân viên, admin xin vui lòng chú ý tới các đơn hàng để có thể duyệt đơn hàng của khách một cách sớm nhất
      </div>
      <div class="mb-5 grid grid-cols-2 gap-5">
        <div class="flex justify-start items-center">
          <input nbInput (change)="onSearchInput()" [(ngModel)]="searchInput" placeholder="Tìm kiếm đơn hàng"/>
        </div>
      </div>
      <nz-table #table [nzData]="orderings" [nzLoading]="isLoading" [nzPageSize]="4">
        <thead>
          <tr>
            <th>#</th>
            <th
              [nzSortFn]="dateSort"
              [nzSortOrder]="'ascend'"
              [nzSortDirections]="['descend', 'ascend', null]"
            >Ngày tạo</th>
            <th
              [nzSortFn]="priceSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
            >Tổng giá</th>
            <th 
              [nzAlign]="'center'"
              [nzFilterMultiple]="true"
              [nzFilters]="[
                { text: 'Chưa đặt', value: 0 },
                { text: 'Đợi xét duyệt', value: 1, byDefault: true },
                { text: 'Chuẩn bị', value: 2, byDefault: true },
                { text: 'Đang giao', value: 3, byDefault: true },
                { text: 'Đã giao', value: 4 },
                { text: 'Đã huỷ', value: -1 }
              ]"
              [nzFilterFn]="statusFilter"
              [nzSortFn]="statusSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
            >Trạng thái đơn hàng</th>
            <th 
              [nzAlign]="'center'"
              [nzFilterMultiple]="false"
              [nzFilters]="[
                { text: 'Chưa thanh toán', value: null },
                { text: 'Thanh toán COD', value: 0 },
                { text: 'Thanh toán MOMO', value: 1 },
                { text: 'Thanh Toán ZaloPay', value: 2 },
                { text: 'Hoàn tiền MOMO', value: -1 },
                { text: 'Hoàn tiền ZaloPay', value: -2 },
              ]"
              [nzFilterFn]="paymentStatusFilter"
            >Trạng thái thanh toán</th>
            <th [nzAlign]="'center'">Khách hàng</th>
            <th [nzAlign]="'center'">Người duyệt</th>
            <!-- <th
              [nzFilterMultiple]="false"
              [nzFilters]="categoryFilterList"
              [nzFilterFn]="categoryFilter"
            >Danh mục</th>
            <th
              [nzSortFn]="dateSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
            >Ngày tạo</th>
            <th 
              [nzAlign]="'center'"
              [nzSortFn]="activeSort"
              [nzSortOrder]="null"
              [nzSortDirections]="['descend', 'ascend', null]"
              [nzFilterMultiple]="false"
              [nzFilters]="[
                {
                  text: 'Kích hoạt', value: true
                },
                {
                  text: 'Ẩn', value: false
                }
              ]"
              [nzFilterFn]="activeFilter"
            >Trạng thái</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td>{{data.id}}</td>
            <td>{{formatDate(data.date)}}</td>
            <td>{{formatPrice(data.totalPrice)}}</td>
            <td>
              <span class="center-an-item">
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Khách hàng vẫn chưa đặt hàng"
                  *ngIf="data.status === 0"
                  class="center-an-item bg-[#F5F5F5] mr-0 py-1 rounded text-[#293147] w-[70px]"
                >
                  Chưa đặt
                </nz-tag>
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Khách hàng đã đặt hàng, đợi xét duyệt từ nhân viên hoặc admin"
                  *ngIf="data.status === 1"
                  class="center-an-item bg-[#557cef] mr-0 py-1 rounded text-white w-[70px]"
                >
                  Đợi duyệt
                </nz-tag>
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Đơn hàng đã được duyệt, đang chuẩn bị hàng"
                  *ngIf="data.status === 2"
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận đơn hàng đã được bàn giao cho đội vận chuyển và trên đường giao?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="onConfirmToApprove(data)"
                  class="cursor-pointer center-an-item bg-[#3d5cb9] mr-0 py-1 rounded text-white w-[70px]"
                >
                  Chuẩn bị
                </nz-tag>
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Đơn hàng đã được bàn giao cho shipper và đang trên đường giao"
                  *ngIf="data.status === 3"
                  nzPopconfirmPlacement="bottom"
                  (nzOnCancel)="(null)"
                  nzPopconfirmTitle="Xác nhận đơn hàng đã hoàn thành?"
                  nz-popconfirm
                  nzOkText="Xác nhận"
                  nzCancelText="Huỷ"
                  (nzOnConfirm)="onConfirmToApprove(data)"
                  class="cursor-pointer center-an-item bg-[#273b75] mr-0 py-1 rounded text-white w-[70px]"
                >
                  Đang giao
                </nz-tag>
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Đơn hàng đã được giao thành công"
                  *ngIf="data.status === 4"
                  class="center-an-item bg-green-400 mr-0 py-1 rounded text-white w-[70px]"
                >
                  Đã giao
                </nz-tag>
                <nz-tag
                  nz-tooltip
                  nzTooltipTitle="Đơn hàng đã bị huỷ (Người đặt từ chối nhận hàng, bùng đơn, giao thất bại,...)"
                  *ngIf="data.status === -1"
                  class="center-an-item bg-red-400 mr-0 py-1 rounded text-white w-[70px]"
                >
                  Đã huỷ
                </nz-tag>
              </span>
            </td>
            <td>
              <span class="center-an-item">
                {{ getPaymentStatus(data.paymentStatus) }}
              </span>
            </td>
            <td>
              <span class="center-an-item">{{data.account.name}}</span>
            </td>
            <td>
              <span class="center-an-item">{{data.updatedByAccount.name}}</span>
            </td>
            <td>
              <fa-icon *ngIf="data.status !== 0" [icon]="icons['faCircleInfo']" [routerLink]="['/admin/ordering-management', data.id]" class="mx-2 cursor-pointer" nz-tooltip nzTooltipTitle="Thông tin"></fa-icon>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nb-card-body>
  </nb-card>
</div>