<div class="grid grid-cols-4 gap-5">
  <div class="col-span-3">
    <h1 class="font-bold">
      Xin vui lòng kiểm tra mọi thông tin trước khi đến bước kế tiếp
    </h1>
  </div>
  <div
    class="ordering-last md:ordering-none col-span-4 md:col-span-2 grid grid-col-1"
  >
    <div>
      <nb-card>
        <nb-card-header class="border-none grid grid-cols-1">
          <span class="text-red-400 text-lg">
            <fa-icon [icon]="icons['faMoneyCheck']"></fa-icon>&ensp;Phương thức
            thanh toán
          </span>
        </nb-card-header>
        <nb-card-body class="grid grid-cols-1">
          <nz-radio-group [(ngModel)]="ordering.paymentStatus">
            <div class="block m-0" nz-radio [nzValue]="0">
              <img
                class="w-[25px] inline"
                src="assets/brand-icons/paymentMethods/cod.jpg"
              />&ensp;Thanh toán COD
            </div>
            <div class="block m-0" nz-radio [nzValue]="1">
              <img
                class="w-[25px] inline"
                src="assets/brand-icons/paymentMethods/vnpay.png"
              />&ensp;Thanh toán VNPay
            </div>
          </nz-radio-group>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header class="border-none grid grid-cols-1">
          <span class="text-red-400 text-lg">
            <fa-icon [icon]="icons['faCreditCard']"></fa-icon>&ensp;Thanh Toán
          </span>
        </nb-card-header>
        <nb-card-body class="grid grid-cols-1">
          <div class="grid grid-cols-1 mb-7">
            <label
              >Nhập mã giảm giá hoặc
              <span
                (click)="openDiscountModal(dialogToOpenDiscount)"
                class="cursor-pointer coffee-link"
                >chọn giảm giá &ensp;<fa-icon
                  class="ml-[0.1rem]"
                  [icon]="icons['faBarcode']"
                ></fa-icon></span
            ></label>
            <div class="grid grid-cols-3 mt-2">
              <input
                [disabled]="!isEditingDiscount"
                [(ngModel)]="discountCode"
                nbInput
                placeholder="Mã giảm giá"
                class="col-span-2"
              />
              <button
                [status]="'danger'"
                class="col-span-1 min-w-[69px]"
                nbButton
                [nbSpinner]="isLoadingDiscountCheckButton"
                (click)="checkDiscountCode()"
                *ngIf="isEditingDiscount"
              >
                Nhập mã
              </button>
              <button
                class="col-span-1 min-w-[69px]"
                [status]="'warning'"
                nbButton
                (click)="cancelDiscountCode()"
                *ngIf="!isEditingDiscount"
              >
                Sửa mã
              </button>
            </div>
          </div>
          <div class="grid grid-cols-2 mb-3">
            <span class="text-left">Giá trị hoá đơn</span>
            <span class="text-right">{{ formatPrice(ordering.price) }}</span>
          </div>
          <div class="grid grid-cols-2 mb-3">
            <span class="text-left">Phí ship</span>
            <span class="text-right">{{
              formatPrice(ordering.shippingFee)
            }}</span>
          </div>
          <div class="grid grid-cols-2 mb-3">
            <span class="text-left">Thuế VAC</span>
            <span class="text-right"> - {{ formatPrice(0) }}</span>
          </div>
        </nb-card-body>
        <nb-card-footer
          class="grid grid-cols-2 border-none font-medium bg-[#33425a] text-lg text-white"
        >
          <span class="text-left">Tổng giá</span>
          <span *ngIf="isEditingDiscount" class="text-right">{{
            formatPrice(ordering.totalPrice)
          }}</span>
          <span *ngIf="!isEditingDiscount" class="text-right"
            ><span class="line-through">{{
              formatPrice(ordering.totalPrice)
            }}</span
            >&ensp;{{
              formatPrice(ordering.totalPrice - choosingDiscount.amount)
            }}</span
          >
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
  <div class="col-span-4 md:col-span-2">
    <nb-card>
      <nb-card-header class="border-none grid grid-cols-1">
        <span class="font-bold text-lg">
          <fa-icon [icon]="icons['faPencil']"></fa-icon>&ensp; Ghi chú đơn hàng
        </span>
      </nb-card-header>
      <nb-card-body class="grid grid-cols-1">
        <textarea
          [(ngModel)]="ordering.note"
          class="min-h-[85px]"
          nbInput
          placeholder="Ghi chú cho đơn hàng"
        ></textarea>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header class="text-lg font-bold border-none">
        Hoá đơn
      </nb-card-header>
      <nb-card-body class="border-none grid grid-cols-1">
        <div class="mb-10 grid grid-cols-1">
          <span class="mb-3 font-bold">
            {{ account.name }} / {{ account.phone }}
          </span>
          <span>
            {{ account.address }}
          </span>
        </div>
        <div class="mb-3">
          <nz-divider [nzText]="text"></nz-divider>
          <ng-template #text>
            <fa-icon size="xl" [icon]="icons['faCartShopping']"></fa-icon>
          </ng-template>
        </div>
        <ng-container *ngFor="let item of detailOrders">
          <nb-card class="mb-2 border-none">
            <nb-card-body class="border-none">
              <div class="grid grid-cols-2 gap-5">
                <div>
                  <div class="w-full h-auto mb-5">
                    <b class="break-words"
                      >{{ item.productSize.product.name }} - Size
                      {{ item.productSize.size }}</b
                    >
                  </div>
                  <div class="w-full h-auto second-main-text-color">
                    <span>{{ formatPrice(item.productSize.price) }}</span>
                  </div>
                  <div class="w-full h-auto second-main-text-color">
                    <span>x{{ item.quantity }}</span>
                  </div>
                </div>
                <div class="flex justify-end items-center">
                  <span class="font-bold">{{
                    formatPrice(item.subTotal)
                  }}</span>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-container>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialogToOpenDiscount let-data let-ref="dialogRef">
  <nb-card class="nosd max-h-[85vh] max-w-[500px]">
    <nb-card-header class="m-0 border-none"> Chọn mã giảm giá </nb-card-header>
    <nb-card-body class="overflow-y-auto discountModal">
      <ng-container *ngIf="!isLoadingDiscountModal">
        <div
          *ngFor="let item of discounts"
          class="border-2 m-0 block coffee-box py-[20px] px-[25px] mb-[15px] transition-colors discountModal"
          (click)="!(item.minimumOrderPrice > ordering.price) ? onClickChoosingDiscount(item) : null"
          [ngClass]="{
            'cursor-pointer hover:border-blue-200': !(item.minimumOrderPrice > ordering.price),
            'cursor-not-allowed': item.minimumOrderPrice > ordering.price,
            'border-blue-300': item.id === choosingDiscount.id
          }"
        >
          <div
            *ngIf="!(item.minimumOrderPrice > ordering.price)"
            class="inline-grid"
          >
            <div class="error-text-color">{{ item.code }}</div>
            <div>
              Giảm
              <span class="font-semibold">{{ formatNumber(item.amount) }}</span>
            </div>
            <div>
              Yêu cầu đơn tối thiểu từ
              <span class="font-semibold">{{
                formatNumber(item.minimumOrderPrice)
              }}</span>
            </div>
            <div>
              Hạn sử dụng:
              <span class="error-text-color">
                {{ formatDate(item.expiredDate) }} -
                {{ timeSince(item.expiredDate) }}
              </span>
            </div>
          </div>
          <div
            *ngIf="item.minimumOrderPrice > ordering.price"
            class="inline-grid"
          >
            <div class="text-gray-300">{{ item.code }}</div>
            <div class="text-gray-300">
              Giảm <span>{{ formatNumber(item.amount) }}</span>
            </div>
            <div class="text-gray-300">
              Yêu cầu đơn tối thiểu từ
              <span>{{ formatNumber(item.minimumOrderPrice) }}</span>
            </div>
            <div class="error-text-color">
              Bạn cần mua thêm
              {{ formatNumber(item.minimumOrderPrice - ordering.price) }}
              <span> để có thể áp dụng voucher này </span>
            </div>
            <div class="text-gray-300">
              Hạn sử dụng:
              <span>
                {{ formatDate(item.expiredDate) }} -
                {{ timeSince(item.expiredDate) }}
              </span>
            </div>
          </div>
        </div>
        <nz-result
          *ngIf="discounts.length === 0"
          [nzIcon]="'smile-twotone'"
          nzTitle="Ối, Không có mã giảm giá nào cả!!"
        >
        </nz-result>
      </ng-container>
      <div
        *ngIf="isLoadingDiscountModal"
        class="min-h-[400px] w-full center-an-item"
      >
        <nz-spin nzSimple></nz-spin>
      </div>
    </nb-card-body>
    <nb-card-footer class="border-none space-x-3">
      <button class="float-left" nbButton status="warning" (click)="ref.close()" [routerLink]="'/main/product'">Mua thêm</button>
      <button class="float-right" nbButton status="infor" (click)="ref.close()">Huỷ</button>
      <button
        class="float-right"
        nbButton
        status="success"
        [disabled]="!(choosingDiscount && choosingDiscount.code)"
        (click)="onClickSubmitNewDiscount()"
      >
        Áp dụng
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
