:host ::ng-deep{
  .ant-menu.ant-menu-root.ant-menu-inline-collapsed{
    width: 100%
  }
  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    bordering-right: none !important;
  }

  svg{
    vertical-align: middle !important;
  }
}