<div class="mx-auto container grid grid-cols-1 gap-x-10 py-10 lg:px-20 px-3">
  <nz-breadcrumb class="w-full">
    <nz-breadcrumb-item>
      <a class="second-text-color" [routerLink]="'/main/product'">Menu</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="navigateRelatedProduct()">
      <a class="second-text-color">{{ product.category.name }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="second-main-text-color">{{
      product.name
    }}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="w-full mt-5">
    <button
      [routerLink]="'/main/product'"
      class="text-sm text-left second-text-color mb-3"
    >
      <fa-icon [icon]="icons['faArrowLeft']" class='mr-2'></fa-icon> Danh sách sản phẩm
    </button>
  </div>
  <nb-card class="rounded-lg p-5">
    <nb-card-body class="grid grid-cols-5 gap-5">
      <app-image
        class="lg:col-span-2 col-span-5"
        [classes]="'rounded-lg'"
        [src]="product.imageUrl"
      ></app-image>
      <div class="lg:col-span-3 col-span-5 grid grid-rows-3">
        <div class="row-span-2">
          <div class="font-bold w-full text-4xl mb-5">{{ product.name }}</div>
          <div class="w-full mb-5">
            <span class="me-5" *ngIf="avarageStar > 0">
              <ng-container
                *ngFor="let icon of [].constructor(avarageStar); let i = index"
              >
                <fa-icon
                  [icon]="icons['faStar']"
                  [style]="'color: ' + renderStarColor(avarageStar)"
                  size="lg"
                ></fa-icon>
              </ng-container>
            </span>
            <span class="me-5">
              {{
                feedBackProducts.length > 0
                  ? feedBackProducts.length + " Phản hồi"
                  : "Chưa có phản hồi"
              }}
            </span>
            <span class=""> 10 Lượt bán </span>
          </div>
          <div class="w-full text-3xl text-[#EE7070] font-bold">
            {{ productSize.length > 0 ? formatPrice(getPrice(choosingSize)) : null }}
          </div>
          <div class="w-full mt-5 mb-5">
            <nz-segmented (nzValueChange)="handleProductSizeChange($event)" [nzOptions]="productSizeOption"></nz-segmented>
          </div>
          <div class="w-full mt-5">
            <span class="me-5"> Số lượng: </span>
            <span class="font-bold me-5">
              <nb-button-group>
                <button
                  nbButton
                  (click)="
                    productSizeQuantity > 0
                      ? (productSizeQuantity = productSizeQuantity - 1)
                      : null
                  "
                >
                  -
                </button>
                <input
                  [(ngModel)]="productSizeQuantity"
                  name="quantityInput"
                  #quantityInput="ngModel"
                  nbInput
                  class="w-[50px]"
                />
                <button
                  nbButton
                  (click)="productSizeQuantity = productSizeQuantity + 1"
                >
                  +
                </button>
              </nb-button-group>
            </span>
            <span class="font-bold me-5">
              <fa-icon
                [icon]="icons['faShare']"
                class="cursor-pointer"
                size="lg"
                (click)="onClickShare()"
              ></fa-icon>
            </span>
            <span class="font-bold">
              <fa-icon
                [icon]="icons['faHeart']"
                class="cursor-pointer"
                [ngClass]="{
                  'text-[#ee7070]': isUserLoveThisProduct()
                }"
                size="lg"
              ></fa-icon>
            </span>
          </div>
        </div>
        <div class="row-span-1 flex items-end">
          <div class="w-full h-auto">
            <div class="w-full mb-5">
              <button
                name="buy"
                nbButton
                class="w-full"
                status="infor"
                [nbSpinner]="isLoadingAddToCartBuntton"
                (click)="onClickAddToCart()"
                nbSpinnerStatus="success"
              >
                <fa-icon
                  class="me-3"
                  [icon]="icons['faBasketShopping']"
                ></fa-icon
                >Thêm vào giỏ hàng
              </button>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="border-none">
      <br />
      <b class="text-lg">Mô tả sản phẩm</b>
      <br /><br />
      <span class="italic second-main-text-color">{{ product.description }}</span>
    </nb-card-footer>
  </nb-card>
  <nb-card class="rounded-lg p-5">
    <nb-card-header class="border-none grid grid-cols-2">
      <div class="text-start text-lg font-bold">Các lượt phản hồi</div>
      <div class="text-end second-text-color">
        <span (click)="open(dialog)" class="cursor-pointer">
          Review sản phẩm <fa-icon [icon]="icons['faPencil']"></fa-icon>
        </span>
      </div>
    </nb-card-header>
    <nb-card-body class="grid grid-cols-1">
      <div class="grid grid-cols-6 gap-5 my-10">
        <div class="col-span-6 lg:col-span-3 xl:col-span-2 2xl:col-span-1">
          <div class="">
            <span class="text-6xl"><b>{{ avarageStar ? avarageStar : 0 }}.0</b>/5</span><br/><br/>
            <span>
              <fa-icon
                [icon]="icons['faStar']"
                [style]="'color: ' + renderStarColor(5)"
                *ngFor="let i of [].constructor(5)"
                size="2x"
                class=""
              ></fa-icon>
            </span><br/><br/>
            <span>{{ feedBackProducts.length }} lượt đánh giá</span>
          </div>
        </div>
        <div class="col-span-6 lg:col-span-3 xl:col-span-4 2xl:col-span-5">
          <div class="h-full w-fit grid grid-cols-3 gap-2">
            <ng-container *ngFor="let ic of [].constructor(5); let id = index">
              <div class="col-span-1">
                <div class="mb-1">
                  <fa-icon
                    [icon]="icons['faStar']"
                    [style]="'color: ' + renderStarColor(5 - id)"
                    *ngFor="let i of [].constructor(5 - id)"
                  ></fa-icon>
                </div>
              </div>
              <div class="col-span-2">
                <nz-progress
                  [nzPercent]="getStarRatePercent(5 - id)"
                  nzSize="default"
                  class="mb-2"
                ></nz-progress>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <nz-divider></nz-divider>
      <ng-container *ngIf="feedBackProducts.length > 0">
        <div
          class="grid grid-cols-6 gap-5 my-10"
          *ngFor="let fb of feedBackProductsPg"
        >
          <div class="col-span-6 md:col-span-1 grid">
            <div class="h-full center-an-item">
              <nz-avatar
                nz-comment-avatar
                [nzText]="fb.account.name[0].toUpperCase()"
                class="center-an-item"
                style="
                  color: rgb(55 65 81);
                  background-color: #a2a2a2;
                  width: 50px;
                  height: 50px;
                "
              ></nz-avatar>
            </div>
            <div class="font-weight h-full center-an-item">
              {{ fb.account.name }}
            </div>
          </div>
          <div class="col-span-6 md:col-span-5 grid grid-cols-1">
            <span>
              <fa-icon
                [icon]="icons['faStar']"
                [style]="'color: ' + renderStarColor(fb.star)"
                *ngFor="let i of [].constructor(fb.star)"
              ></fa-icon>
            </span>
            <div>
              {{ fb.comment }}
            </div>
            <small class="second-main-text-color"
              >Đánh giá {{ timeSince(fb.creationDate) }}</small
            >
          </div>
        </div>
        <!-- <nz-comment
          [nzAuthor]="fb.account.name"
          [nzDatetime]="timeSince(fb.creationDate)"
          *ngFor="let fb of feedBackProductsPg"
        >
          <nz-avatar
            nz-comment-avatar
            [nzText]="fb.account.name[0].toUpperCase()"
            class="center-an-item"
            style="color: rgb(55 65 81); background-color: #30b970; width: 50px; height: 50px"
          ></nz-avatar>
          <nz-comment-content>
            <fa-icon
              [icon]="icons['faStar']"
              [style]="'color: ' + renderStarColor(fb.star)"
              *ngFor="let i of [].constructor(fb.star)"
            ></fa-icon>
            <br />
            {{ fb.comment }}
          </nz-comment-content>
        </nz-comment> -->
      </ng-container>
      <nz-result
        *ngIf="feedBackProducts.length === 0"
        [nzIcon]="'smile-twotone'"
        nzTitle="Ối, chưa có đánh giá nào cả!!"
      >
      </nz-result>
    </nb-card-body>
    <nb-card-footer class="border-none center-an-item">
      <nz-pagination
        (nzPageIndexChange)="onFeedBackPageChange($event)"
        [nzPageIndex]="feedBackPageIndex"
        nzPageSize="3"
        [nzTotal]="feedBackProducts.length"
      ></nz-pagination>
    </nb-card-footer>
  </nb-card>
  <nb-card class="rounded-lg p-5">
    <nb-card-header class="border-none font-bold text-lg"> Sản phẩm liên quan </nb-card-header>
    <nb-card-body>
      <app-product-list
        [products]="relatedProducts"
        [isRelatedProductList]="true"
      ></app-product-list>
    </nb-card-body>
    <nb-card-footer class="border-none center-an-item">
      <a nbButton status="info" class="text-center block" (click)="navigateRelatedProduct()"
        ><fa-icon [icon]="icons['faBars']" class="mr-2"></fa-icon>Xem thêm</a
      >
    </nb-card-footer>
  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="rounded-lg">
    <nb-card-header
      >Tạo review cho sản phẩm "{{ product.name }}"</nb-card-header
    >
    <nb-card-body class="grid grid-cols-1 p-10">
      <div class="w-full grid-cols-1 grid">
        <div class="font-bold text-2xl text-center mb-5">
          Bản cảm thấy sản phẩm này như nào?
        </div>
        <div class="center-an-item mb-10">
          <ng-container *ngFor="let icon of [].constructor(5); let i = index">
            <fa-icon
              [icon]="icons['faStar']"
              [style]="
                'color: ' +
                renderStarColor(i <= starRating - 1 ? starRating : 0)
              "
              (click)="starRating = i + 1"
              size="2x"
              class="me-3 cursor-pointer"
            ></fa-icon>
          </ng-container>
        </div>
        <div>
          <label>Viết cảm nhận</label>
          <textarea
            nbInput
            fullWidth
            placeholder="Cảm nhận của bạn về sản phẩm này"
            class='mt-3'
          ></textarea>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="space-x-3">
      <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
      <button nbButton status="success" (click)="onClickSubmit()">
        Xác nhận
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
