<div class="mx-auto container px-32 py-1 grid grid-cols-1 gap-x-10 my-10">
  <div class="w-full">
    <button
      [routerLink]="'/main/product'"
      class="text-sm text-left second-text-color mb-3"
    >
      <fa-icon [icon]="icons['faArrowLeft']"></fa-icon> Danh sách sản phẩm
    </button>
  </div>
  <nb-card>
    <nb-card-body class="grid grid-cols-3">
      <app-image [src]="product.picture"></app-image>
      <div class="col-span-3"></div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header> Mô tả sản phẩm </nb-card-header>
    <nb-card-body>
      {{ product.description }}
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header> Các lượt đánh giá </nb-card-header>
    <nb-card-body class="grid grid-cols-1"> 
      <nz-comment [nzAuthor]="fb.account.name" [nzDatetime]="timeSince(fb.creationDate)" *ngFor="let fb of feedBackProducts">
        <nz-avatar nz-comment-avatar [nzText]="fb.account.name[0].toUpperCase()" style="color:rgb(55 65 81); background-color:#30b970;"></nz-avatar>
        <nz-comment-content>
          <fa-icon [icon]="icons['faStar']" [style]="'color: ' + renderStarColor(fb.star)" *ngFor="let i of [].constructor(fb.star)"></fa-icon> <br/>
          {{ fb.comment }}
        </nz-comment-content>
      </nz-comment>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header> Sản phẩm liên quan </nb-card-header>
    <nb-card-body>
      <app-product-list [products]="relatedProducts" [isRelatedProductList]="true"></app-product-list>
    </nb-card-body>
    <nb-card-footer>
      <a class="w-full">Xem thêm</a>
    </nb-card-footer>
  </nb-card>
</div>
