:host ::ng-deep{
  .no-background{
    background-color: transparent !important;
    bordering: none
  }

  [nz-carousel-content] {
    height: 170px;
  }

  .textWhite{
    color: #ffffff !important
  }
}