<div class="grid grid-cols-1">
  <app-image [classes]="'w-full'" [lazyClasses]="'min-h-[300px]'" [src]="'assets/brand-icons/banner.png'"></app-image>
</div>
<div class="w-full bg-[#f5f5f5] space-x-7 text-center second-main-text-color py-4">
  <span class="inline">Ai cũng tìm kiếm:</span>  
  <span class="font-semibold inline second-text-color cursor-pointer" (click)="onSearch('Hi Tea Vải')"> Hi Tea Vải </span> 
  <span class="font-semibold inline second-text-color cursor-pointer" (click)="onSearch('Mochi kem chocolate')"> Mochi kem chocolate </span>  
  <span class="font-semibold inline second-text-color cursor-pointer" (click)="onSearch('Bạc xỉu')"> Bạc xỉu </span>
  <span class="font-semibold inline second-text-color cursor-pointer" (click)="onSearch('Bánh mì thịt nguội')"> Bánh mì thịt nguội </span>
  <span class="font-semibold inline second-text-color cursor-pointer" (click)="onSearch('CloudFee hạnh nhân nướng')"> CloudFee hạnh nhân nướng </span>
</div>
<div class="mx-auto container px-40 py-1">
  <div class="w-full grid grid-cols-1 text-center my-10">
    <div class="text-center font-bold text-2xl">Mang đến cho bạn những ly cà phê ngon nhất</div>
    <small class="text-center second-main-text-color text-lg">Khám phá ngay sản phẩm của chúng tôi</small>
    <app-image [classes]="'w-full my-3'" [lazyClasses]="'min-h-[300px]'" [src]="'assets/brand-icons/banner7.jpg'"></app-image>
  </div>
  <div class="w-full grid grid-cols-1 text-center my-10">
    <h2 class="font-bold text-3xl">Sản phẩm bán chạy</h2>
  </div>
  <app-product-list
    [products]="mostPopularProducts"
  ></app-product-list>
  <div class="w-full grid grid-cols-2 my-10 gap-3 mb-32">
    <div class="col-span-2 xl:col-span-1">
      <app-image [classes]="'w-full rounded-lg'" [src]="'assets/brand-icons/banner2.jpg'"></app-image>
    </div>
    <div class="col-span-2 xl:col-span-1">
      <app-image [classes]="'w-full rounded-lg mb-5'" [src]="'assets/brand-icons/banner3.jpg'"></app-image>
      <h1 class="font-sans font-bold text-2xl xl:text-2xl 2xl:text-3xl text-center xl:text-right mb-5">
        QUY TRÌNH CAFE ĐẾN TAY NGƯỜI DÙNG
      </h1>
      <p class="text-center xl:text-right xl:text-md 2xl:text-lg">
        Từ những hạt cà phê khiêm tốn trong vườn xanh, đến bàn tay tinh tế của
        người thưởng thức. Mọi thứ bắt đầu bằng việc lựa chọn cẩn thận những hạt
        cà phê tinh túy, được hái từ những khu vườn tươi tốt, nơi chúng phát
        triển dưới ánh nắng mặt trời dịu dàng. Những hạt cà phê này bắt đầu hành
        trình biến đổi từ những viên ngọc thô thành những điều kỳ diệu thơm
        ngon. <br /><br />
        Sau khi thu hoạch, những hạt cà phê được xử lý với sự chăm sóc tận tâm,
        trải qua một loạt các quy trình phức tạp, thức tỉnh hương vị phong phú
        và mùi thơm quyến rũ của chúng. <br /><br />
        Hành trình cuối cùng trong câu chuyện này được chỉ đạo bởi đôi bàn tay
        tài hoa của một người pha chế tài ba, người là một nhạc trưởng của nghệ
        thuật cà phê. Với sự chính xác và sự sáng tạo, họ tạo ra mỗi ly cà phê
        với sự tận tâm tối đa, biến tinh chất đã pha chế thành một kiệt tác.
        Cánh tay của người pha chế là một bản tình ca tới sự nghệ thuật mà cà
        phê tượng trưng
      </p>
    </div>
  </div>
  <div class="w-full grid grid-cols-2 my-10 gap-5">
    <nz-timeline nzMode="alternate">
      <nz-timeline-item [nzLabel]="label1">
        <p class="xl:text-md 2xl:text-lg">Thành lập, khởi động dự án COFFEE</p>
        <p class="xl:text-md 2xl:text-lg">Lên kế hoạch cho dự án, thút đẩy mô hình bán cafe vào thị trường cạnh tranh</p>
      </nz-timeline-item>
      <nz-timeline-item nzColor="green" [nzLabel]="label2">
        <p class="xl:text-md 2xl:text-lg">Triển khai mô hình bán sản phẩm cửa hàng COFFEE</p>
        <p class="xl:text-md 2xl:text-lg">Cho ra chương trình ưu đãi về các sản phẩm ra lò đầu tiên của COFFEE</p>
      </nz-timeline-item>
      <nz-timeline-item nzColor="green" [nzLabel]="label3">
        <p class="xl:text-md 2xl:text-lg">Đẩy mạnh kế hoạch marketing</p>
      </nz-timeline-item>
      <nz-timeline-item [nzDot]="dotTemplate"><p class="xl:text-md 2xl:text-lg">Hiện tại</p></nz-timeline-item>
    </nz-timeline>
    <div>
      <app-image [classes]="'w-full rounded-lg'" [src]="'assets/brand-icons/banner6.jpg'"></app-image>
    </div>
    <ng-template #dotTemplate>
      <span nz-icon nzType="clock-circle-o" style="font-size: 16px;"></span>
    </ng-template>
    <ng-template #label1>
      <p class="xl:text-md 2xl:text-lg font-semibold">15/07/2023</p>
    </ng-template>
    <ng-template #label2>
      <p class="xl:text-md 2xl:text-lg font-semibold">01/08/2023</p>
    </ng-template>
    <ng-template #label3>
      <p class="xl:text-md 2xl:text-lg font-semibold">05/08/2023</p>
    </ng-template>
  </div>
</div>
