<div class="flex items-center justify-center">
  <div class="mx-auto w-full">
    <form autocomplete="off">
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label class="mb-3 block font-medium">
              Tên: <b>{{ user.name }}</b>
            </label>
            <input
              type="text"
              nbInput
              *ngIf="isEditing"
              name="nameInput"
              #nameInput="ngModel"
              [(ngModel)]="editUser.name"
              placeholder="Chúng tôi nên gọi bạn là gì?"
              class="w-full rounded-md"
            />
            <small *ngIf="isEditing && !editUser.name" class="error-text-color">
              Tên vui lòng không được để trống
            </small>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="lName" class="mb-3 block font-medium">
              Email: <b>{{ user.email }}</b>
            </label>
            <input
              type="email"
              name="emailInput"
              #emailInput="ngModel"
              [(ngModel)]="editUser.email"
              *ngIf="isEditing"
              nbInput
              placeholder="example@gmail.com"
              class="w-full rounded-md"
            />
            <small *ngIf="isEditing && !isEmailValidate()" class="error-text-color">
              Email cần đúng định dạng
            </small>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label for="guest" class="mb-3 block font-medium">
          Số điện thoại: <b>{{ user.phone }}</b>
        </label>
        <input
          type="text"
          disabled="true"
          nbInput
          *ngIf="isEditing"
          placeholder="Không hỗ trợ thay đổi số điện thoại"
          class="w-full rounded-md"
        />
      </div>
      <div class="mb-5">
        <label for="guest" class="mb-3 block font-medium">
          <fa-icon [icon]="icons['faCircleInfo']" nz-tooltip nzTooltipTitle="Vui lòng không chọn các ô địa chỉ nếu bạn quyết định giữ địa chỉ mặc định"></fa-icon> &nbsp; Địa chỉ: <b>{{ user.address }}</b>
        </label>
      </div>
      <div *ngIf="isEditing" class="mb-5">
        <label for="guest" class="mb-3 block font-medium">
          <span class="error-text-color">Xin thứ lỗi vì chúng tôi hiện tại chỉ hỗ trợ khu vực Hồ Chí Minh</span>
        </label>
      </div>
      <div class="-mx-3 flex flex-wrap" *ngIf="isEditing">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label class="mb-3 block font-medium">
              Thành Phố/Tỉnh
            </label>
            <nb-select
              (selectedChange)="onChangeProvince()"
              name="provinceInput"
              #provineInput="ngModel"
              [(ngModel)]="selectedProvince"
              *ngIf="isEditing"
              class="w-full"
              placeholder="Thành Phố/Tỉnh"
            >
              <nb-option [value]="{ name: p.name, code: p.code }" [disabled]="p.code !== 79" *ngFor="let p of provinces">{{
                p.name
              }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="lName" class="mb-3 block font-medium">
              Thành Phố/Quận/Huyện
            </label>
            <nb-select
              (selectedChange)="onChangeDistrict()"
              [disabled]="!(selectedProvince.code !== 0)"
              name="districtInput"
              #districtInput="ngModel"
              [(ngModel)]="selectedDistrict"
              *ngIf="isEditing"
              class="w-full"
              placeholder="Thành Phố/Quận/Huyện"
            >
              <nb-option [value]="{ name: p.name, code: p.code }" *ngFor="let p of districts">{{
                p.name
              }}</nb-option>
            </nb-select>
            <small *ngIf="(selectedProvince.code !== 0) && selectedDistrict.code === 0 && districts.length > 0" class="error-text-color">Vui lòng chọn Thành Phố/Quận/Huyện</small>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="lName" class="mb-3 block font-medium">
              Phường/Xã
            </label>
            <nb-select
              name="wardInput"
              #wardInput="ngModel"
              [disabled]="!(selectedDistrict.code !== 0) || wards.length === 0"
              [(ngModel)]="selectedWard"
              *ngIf="isEditing"
              class="w-full"
              placeholder="Phường"
            >
              <nb-option [value]="{ name: p.name, code: p.code }" *ngFor="let p of wards">{{
                p.name
              }}</nb-option>
            </nb-select>
            <small *ngIf="!(selectedWard.code !== 0) && wards.length > 0" class="error-text-color">Vui lòng chọn Phường/Xã</small>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="lName" class="mb-3 block font-medium">
              Địa chỉ cụ thể
            </label>
            <input
              type="text"
              nbInput
              name="addressInput"
              #addressInput="ngModel"
              *ngIf="isEditing"
              [disabled]="!(selectedProvince.code !== 0) || !(selectedDistrict.code !== 0)"
              [(ngModel)]="detailAddress"
              placeholder="789 Huỳnh Tấn Phát, Phường 9, Quận 7, TP HCM"
              class="w-full rounded-md"
            />
            <small *ngIf="(selectedWard.code !== 0 && wards.length > 0 && !detailAddress) || (selectedDistrict.code !== 0 && districts.length > 0 && wards.length <= 0 && !detailAddress)" class="error-text-color">
              Địa chỉ vui lòng không để trống
            </small>
          </div>
        </div>
      </div>
      <div>
        <button
          nbButton
          status="danger"
          class="mr-3 mb-3"
          *ngIf="isEditing"
          (click)="onClickCancelEdit()"
        >
          Huỷ
        </button>
        <button nbButton (click)="open(dialog)" status="success" *ngIf="isEditing" class="mb-3">
          Xác nhận
        </button>
        <button
          nbButton
          *ngIf="!isEditing"
          status="infor"
          class="mb-3"
          (click)="onClickEdit()"
        >
          Chỉnh sửa
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="nosd">
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer class="space-x-3">
      <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
      <button nbButton status="success" (click)="onClickSubmit()" [nbSpinner]="submitLoading">Xác nhận</button>
    </nb-card-footer>
  </nb-card>
</ng-template>