$main-text-color: #33425a;
:host ::ng-deep{
  nz-step.ant-steps-item-finish{
    .ant-steps-item-icon{
      border-color: $main-text-color !important;
      svg{
        color: $main-text-color !important;
      }
    }
    .ant-steps-item-title::after{
      background: $main-text-color !important;
    }
  }
  nz-step.ant-steps-item-process{
    .ant-steps-item-icon{
      border-color: $main-text-color !important;
      background: $main-text-color !important;
    }
  }
}