:host ::ng-deep {
  nb-sidebar {
    .main-container > .scrollable {
      padding-top: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .noPadding{
    padding: 0px !important
  }
}
