<nb-layout>
  <nb-layout-column>
    <div class="flex items-center min-h-screen bg-white dark:bg-gray-900">
      <div class="container mx-auto">
        <div class="max-w-xl mx-auto my-10">
          <div class="text-center">
            <h1
              class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Đăng nhập
            </h1>
            <p class="text-gray-500 dark:text-gray-400">
              Đăng nhập để bắt đầu mua hàng!
            </p>
          </div>
          <div class="m-7">
            <form>
              <div class="mb-6">
                <label class="my-2">Email</label>
                <input
                  [(ngModel)]="account.email"
                  [ngClass]="{
                    'error-input-color': account.email === '' && isSubmitted,
                  }"
                  nbInput
                  name="email"
                  #name="ngModel"
                  autocomplete="off"
                  type="email"
                  class="block w-full px-3 py-2 text-base"
                />
                <small
                  *ngIf="account.email === '' && isSubmitted"
                  class="error-text-color"
                  >Email không được để trống!!</small
                >
              </div>
              <div class="mb-6">
                <label class="my-2">Mật khẩu</label>
                <nb-form-field class="min-w-0">
                  <input
                    [(ngModel)]="account.password"
                    [ngClass]="{
                      'error-input-color':
                        account.password === '' && isSubmitted
                    }"
                    nbInput
                    name="password"
                    required
                    #password="ngModel"
                    autocomplete="off"
                    [type]="showPassword ? 'text' : 'password'" 
                    class="block w-full px-3 py-2 text-base"
                  />
                  <button
                    nbSuffix
                    nbButton
                    ghost
                    (click)="showPassword = !showPassword"
                  >
                    <nb-icon
                      [icon]="
                        showPassword ? 'eye-outline' : 'eye-off-2-outline'
                      "
                      pack="eva"
                      [attr.aria-label]="
                        showPassword ? 'hide password' : 'show password'
                      "
                    >
                    </nb-icon>
                  </button>
                </nb-form-field>
                <small
                  *ngIf="account.password === '' && isSubmitted"
                  class="error-text-color"
                  >Mật khẩu không được để trống</small
                >
              </div>
              <div class="mb-6">
                <button
                  type="button"
                  nbButton
                  status="success"
                  [nbSpinner]="isLoading"
                  [disabled]="isLoading"
                  class="w-full px-3 py-4 text-white"
                  (click)="onClickSignIn()"
                >
                  Đăng nhập
                </button>
                <small>
                  <a
                    href="#!"
                    class="text-sm second-text-color focus:outline-none"
                  >
                    Bạn quên mật khẩu?
                  </a></small
                >
              </div>
              <p class="text-sm text-center text-gray-400">
                Chưa có tài khoản?
                <a
                  [routerLink]="'/sign-up'"
                  class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"
                  >Đăng ký</a
                >
                ở đây.
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
