<div class="mx-auto container py-10 lg:px-20 px-3">
  <nb-card class="rounded-lg">
    <nb-card-body class="bordering-none grid grid-cols-5 gap-x-10 px-3 py-10 sm:px-10">
      <div class="col-span-5 mb-5 bordering-b pb-10">
        <h1 class="text-3xl text-center w-full font-bold mb-16">
          <span class="text-center">Sản phẩm của COFFEE</span>
        </h1>
        <div class="grid grid-cols-2 gap-3">
          <label class="col-span-1">
            Sắp xếp theo
          </label>
          <div class="col-span-1"></div>
          <div class="col-span-2 md:col-span-1">
            <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)" [(ngModel)]="optionIndex"></nz-segmented>
          </div>
          <div class="col-span-2 md:col-span-1">
            <h1 class="text-lg text-right w-full font-bold space-x-3">
              <fa-icon
                [icon]="icons['faTableCellsLarge']"
                size="lg"
                [ngClass]="{
                  'text-[#ee7070]': viewMode === 'ICON'
                }"
                class="cursor-pointer"
                (click)="updateView('ICON')"
              ></fa-icon>
              <fa-icon
                [icon]="icons['faList']"
                size="lg"
                [ngClass]="{
                  'text-[#ee7070]': viewMode === 'LIST'
                }"
                class="cursor-pointer"
                (click)="updateView('LIST')"
              ></fa-icon>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-span-5 md:col-span-1">
        <div *ngIf="search" class="bordering-b py-5 mb-3">
          <div class="mb-3">
            <span class="break-words"
              ><fa-icon [icon]="icons['faMagnifyingGlass']"></fa-icon>&ensp;Đang
              tìm kiếm: <b class="main-text-color">{{ search }}</b></span
            >
          </div>
          <button nbButton (click)="onClickResetFilterSearch()" class="w-full">
            Xoá
          </button>
        </div>
        <div class="w-full mb-5">
          <label>Lọc theo danh mục</label>
          <nb-select
            class="w-full mt-3"
            multiple
            placeholder="Tất cả"
            (selectedChange)="updateFilter($event)"
            [selected]="filterSelect"
          >
            <nb-option value="coffee">Coffee</nb-option>
            <nb-option value="tea">Trà</nb-option>
            <nb-option value="food">Đồ ăn</nb-option>
            <nb-option value="package">Sản phẩm gói</nb-option>
          </nb-select>
        </div>
        <div class="w-full">
          <label>Lọc theo mức giá</label>
          <nz-slider
            [nzMin]="minPrice"
            [nzMax]="maxPrice"
            [nzMarks]="marks"
            [(ngModel)]="priceFilter"
            (nzOnAfterChange)="onChangePriceFilter()"
            nzRange
            class="mt-5"
          ></nz-slider>
        </div>
      </div>
      <div class="col-span-5 md:col-span-4 center-an-item" [nbSpinner]="isLoading">
        <ng-template [ngIf]="allProduct.length > 0">
          <app-product-list
            [products]="allProduct"
            [cols]="
              viewMode === 'ICON' || !viewMode ? getColsByWindowWidth() : 1
            "
            [view]="viewMode"
          ></app-product-list>
        </ng-template>
        <nz-result
          *ngIf="allProduct.length === 0 && !isLoading"
          [nzIcon]="'smile-twotone'"
          nzTitle="Ối, không có gì ở đây cả!!"
        >
        </nz-result>
      </div>
    </nb-card-body>
  </nb-card>
</div>
  