<nb-layout>
  <nb-layout-column>
    <div class="flex items-center min-h-screen bg-white">
      <div class="container mx-auto">
        <div class="max-w-xl mx-auto my-10">
          <div class="text-center">
            <h1
              class="my-3 text-3xl font-semibold text-gray-700 "
            >
              Đăng ký tài khoản
            </h1>
            <p class="text-gray-500 ">
              Tạo tài khoản chỉ với 1 bài bước!!
            </p>
          </div>
          <div class="m-7">
            <nz-tabset nzCentered [nzSelectedIndex]="activeIndex" class="px-5" (nzSelectedIndexChange)="changeTab($event)">
              <nz-tab [nzTitle]="tab1" [nzDisabled]="activeIndex === 1">
                <form autocomplete="off">
                  <div class="mb-5">
                    <label class="my-2">Email</label>
                    <input
                      pInputText
                      autocomplete="off"
                      name="email"
                      [(ngModel)]="account.email"
                      type="email"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                    <small class="error-text-color" *ngIf="!isEmailValidate()">
                      Email bắt buộc không được để trống và đúng định dạng
                    </small>
                  </div>
                  <div class="mb-5">
                    <label class="my-2">Mật khẩu</label>
                    <input
                      pInputText
                      name="password"
                      autocomplete="off"
                      [(ngModel)]="account.password"
                      type="password"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                    <small class="error-text-color" *ngIf="!isPasswordValidate()">
                      Mật khẩu bắt buộc không được để trống, tối thiểu 8 ký tự và có chứa ít nhất 1 số, 1 ký tự thường và 1 ký tự in hoa
                    </small>
                  </div>
                </form>
                <ng-template #tab1>
                  <fa-icon [icon]="icons['faUser']"></fa-icon>
                  <span class="ml-1">Thông tin đăng nhập</span>
                </ng-template>
              </nz-tab>
              <nz-tab [nzTitle]="tab2" [nzDisabled]="activeIndex === 0">
                <form autocomplete="off">
                  <div class="mb-5">
                    <label class="my-2">Tên</label>
                    <input
                      pInputText
                      name="name"
                      autocomplete="off"
                      [(ngModel)]="account.name"
                      type="text"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                    <small class="error-text-color" *ngIf="account.name.length === 0">
                      Tên bắt buộc không được để trống
                    </small>
                  </div>
                  <div class="mb-5">
                    <label class="my-2">Số điện thoại</label>
                    <input
                      pInputText
                      name="phone"
                      autocomplete="off"
                      [(ngModel)]="account.phone"
                      type="text"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                    />
                    <small class="error-text-color" *ngIf="account.phone.length !== 10">
                      Số điện thoại bắt buộc không được để trống và đúng định dạng
                    </small>
                  </div>
                </form>
                <button
                  (click)="activeIndex = 0"
                  class="text-sm text-left second-text-color mb-3"
                >
                  <fa-icon [icon]="icons['faArrowLeft']"></fa-icon> Quay lại
                </button>
                <ng-template #tab2>
                  <fa-icon [icon]="icons['faCircleInfo']"></fa-icon>
                  <span class="ml-1.5">Thông tin cá nhân</span>
                </ng-template>
              </nz-tab>
            </nz-tabset>
            <div class="mb-5">
              <button
                type="button"
                nbButton
                status="basic"
                *ngIf="activeIndex === 0"
                [disabled]="!isEmailValidate() || !isPasswordValidate()"
                (click)="activeIndex = 1"
                class="w-full px-3 py-4 rounded-md focus:outline-none"
              >
                Tiếp theo
              </button>
              <button
                type="button"
                nbButton
                status="success"
                [disabled]="account.name.length === 0 || account.phone.length !== 10"
                [nbSpinner]="isLoading"
                *ngIf="activeIndex === 1"
                class="w-full px-3 py-4 rounded-md focus:outline-none"
              >
                Đăng ký
              </button>
            </div>
            <p class="text-sm text-center text-gray-400">
              Đã có tài khoản?
              <a
                [routerLink]="'/sign-in'"
                class="no-underline text-indigo-400 focus:outline-none focus:text-indigo-500"
                >Đăng nhập</a
              >
              ở đây.
            </p>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

