<div
  class="mx-auto container grid grid-cols-1 gap-x-10 gap-y-10 py-10 lg:px-20 px-3"
>
  <nb-card>    
    <nb-card-body class="grid grid-cols-1">
      <div class="font-bold mb-5">
        Thông tin sản phẩm
      </div>
      <div class="grid grid-cols-1 mb-5">
        <div class="col-span-1 grid grid-cols-5 gap-3">
          <div class="col-span-1">
            <app-image [src]="product.imageUrl" [classes]="'rounded w-full'"></app-image>
          </div>
          <div class="col-span-4 italic text-red-400">
            Lưu ý: Khi thay đổi ảnh, ảnh cần đúng kích thước với tỷ lệ 1:1...
            <br/>
            <br/>
            <input type="file" accept="image/*" class="hidden" #file (change)="handleInputChange(file.files)"/>
            <div>
              <button nbButton (click)="file.click()">Đổi ảnh</button>
            </div>
          </div>
        </div>
        <div class="my-5">
          <nz-divider></nz-divider>
        </div>
        <app-basic-form [product]="product" [onEditMode]="onEditMode" class="mb-3"></app-basic-form>
        <div class="flex justify-end items-center">
          <button nbButton (click)="onEditMode = !onEditMode">Chỉnh sửa thông tin</button>
        </div>
      </div>

      <div class="my-5">
        <nz-divider></nz-divider>
      </div>

      <div class="font-bold mb-5">
        Kích cỡ sản phẩm
      </div>
      <app-size-form [product]="product" class="mb-3"></app-size-form>
      <div class="flex justify-end items-center">
        <button nbButton [disabled]="isAtMaxSize()">{{ isAtMaxSize() ? "Đạt giới hạn size" : "Thêm size"}}</button>
      </div>
      <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card>
          <nb-card-body>{{ data }}</nb-card-body>
          <nb-card-footer class="space-x-3">
            <button nbButton status="infor" (click)="ref.close()">Huỷ</button>
            <button nbButton status="success">Xác nhận</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
    </nb-card-body>
  </nb-card>
</div>
