
@use './assets/theme.scss' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "node_modules/ng-zorro-antd/style/index.min.css";
@import "node_modules/ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
$border-radius-base: 10px;
$main-color: #43da89;
$main-hover-color: #30b970;
$second-main-color: #eeffd8;
$main-text-color: #363062;
$second-text-color: #435585;
$error-text-color: rgb(221, 78, 78);
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-text-color; 
  transition: 0.5s;
  &:hover{
    background: $second-text-color; 
  }
}

@layer base{
  svg {
    vertical-align: baseline !important;
  }
}

body {
  .ant-message-notice-content{
    border-radius: 30px 30px 30px 30px;
  }

  nb-layout-header>nav{
    padding: 0 !important;
  }

  // .ant-message-notice-content{

  // }
  .ant-result-icon>.anticon{
    font-size: 50px !important;
  }
  .ant-result-title{
    font-size: 17px !important;
  }

  #cdk-overlay-1.cdk-overlay-pane{
    z-index: 1001 !important;
  }

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border: none !important;
  }

  .ant-table-footer, .ant-table-thead>tr>th{
    color: $main-text-color !important;
    font-weight: bold !important;
  }

  .ant-table{
    color: $second-text-color !important;
  }

  nb-sidebar{
    .main-content>.scrollable{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .compacted{
      width: 5rem !important;
    }
  }
  .ant-popover{
    max-width: 400px !important;
    width: 400px !important;
  }
  nz-badge-sub p {
    color:white !important;
  }
  .ant-popover-arrow {
    display: none !important;
  }
  .ant-popover-inner{
    border-radius: 8px;
  }
  .ant-popover-title{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .ant-segmented{
    background-color: #dde2eb !important;
    .ant-segmented-group {
      height:40px !important;
    }
    .ant-segmented-item{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  nb-card{
    box-shadow: 0 4px 5px #ededf5 !important;
    border-radius: 10px !important;
  }

  .ant-collapse-borderless>.ant-collapse-item, .ant-collapse>.ant-collapse-item{
    border: none !important;
  }

  .coffee-box{
    box-shadow: 0 4px 5px #ededf5 !important;
    border-radius: 10px !important;
  }
  
  nb-card.nosd{
    box-shadow: none !important;
  }
  
  color: $main-text-color;
  .font-bold, .font-semibold, b, nb-card-header, h1, h2 {
    color: $main-text-color
  }

  [nbSpinner] {
    z-index: auto !important;
  }

  [nbInput], nb-form-field, nb-select{
    max-width: none !important;
  }

  nb-select{
    .select-button{
      min-width:auto !important;
    }
  }

  .ant-message-custom-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-message .anticon{
    position:static;
  }

  a {
    text-decoration: none !important;
    color: rgb(0, 149, 255);
  }

  .main-color {
    background-color: $main-color;
    transition: 0.5s;
    &:hover {
      background-color: $main-hover-color;
    }

    &:disabled {
      background-color: $second-text-color;
    }
  }

  .main-bg-color {
    background-color: $main-color !important;
  }
  .main-bg-text-color {
    background-color: $main-text-color !important;
  }

  label {
    color: $second-text-color
  }

  .second-main-text-color {
    color: $second-text-color !important;
  }

  .discountModal>.ant-radio{
    margin-right: 10px !important;
    top: 2.5em !important;
  }

  .ant-radio-group, .ant-radio-wrapper{
    color: $second-text-color !important;
  }

  .second-text-color {
    color: $second-text-color !important;
    transition: 0.5s;
    &:hover {
      color: $error-text-color !important;
    }
  }

  .main-text-color {
    color: $main-text-color !important;
  }

  .error-text-color {
    color: $error-text-color !important;
  }

  .error-input-color {
    border-color: $error-text-color !important;
  }

  .center-an-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  span.tab-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


