
@use './assets/theme.scss' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
$main-color: #43da89;
$main-hover-color: #30b970;
$main-text-color: rgb(55 65 81);
$second-text-color: rgb(121, 125, 133);
$error-text-color: #ee7070;

body {
  a {
    text-decoration: none !important;
  }

  .main-color {
    background-color: $main-color;
    transition: 0.5s;
    &:hover {
      background-color: $main-hover-color;
    }

    &:disabled {
      background-color: $second-text-color;
    }
  }

  .main-bg-color {
    background-color: $main-color !important;
  }

  label {
    color: $second-text-color
  }

  .second-text-color {
    color: $second-text-color !important;
    transition: 0.5s;
    &:hover {
      color: $main-color !important;
    }
  }

  .main-text-color {
    color: $main-text-color !important;
  }

  .error-text-color {
    color: $error-text-color !important;
  }

  .error-input-color {
    border-color: $error-text-color !important;
  }

}

.center-an-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.tab-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
